<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>

  <script type="text/javascript" src="/js/library/knockout-3.2.0.js"></script>
  <script type="text/javascript" src="/js/library/knockout.mapping-latest.js"></script>
  <script type="text/javascript" src="/js/common/http.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/admin-profile.css">
  <style type="text/css">
  ._hidden_ {
    display: none
  }
  </style>
</head>
<body>  
  <% include ../partials/header.html.ejs %>
  <!-- content goes here -->
  
  <div id="content" class="ui centered page grid admin">
    <input type="hidden" id="__userId" value="">

    <div class="fourteen wide column" id="adminProfile">

      <div class="ui two column center aligned stackable divided grid">

      <!-- Left panel starts here -->

      <div class="four wide column _editable_">
        <div class="column li-box">
          <div class="lib-pic">
            <img id="pic" class="ui circular image" src="/img/pic.png">
            <div class="Editpic">
              <input id="_profilePic" type="file"><i class="icon photo"></i>
            </div>
          </div>
          <div class="content">
            <div class="header _name_ profEdit" contenteditable="false"><!--ko text : name --><!-- /ko -->
            <i data-bind="click:function(){profileEdit('_name_')}" class="write icon"></i>
            </div>
            <div class="ui buttons">
              <div class="ui positive button" data-bind="click:function(){updateUser('_name_')}" >Save</div>
              <div class="ui button _cancel_" data-bind="click:function(){profileClose('_name_')}">Cancel</div>
            </div>
          </div>
          <div class="content">
            <div class="item _compname_ profEdit" style="padding:0;" contenteditable="false" >  <!--ko text : companyName --><!-- /ko -->
            <i data-bind="click:function(){profileEdit('_compname_')}" class="write icon"></i>
            </div>
            <div class="ui buttons">
              <div class="ui positive button" data-bind="click:function(){updateUser('_compname_')}">Save</div>
              <div class="ui button _cancel_" data-bind="click:function(){profileClose('_compname_')}">Cancel</div>
            </div>
          </div>
          <img style="padding: 1rem 0 .5rem;" src="/img/fb.png">

          <div class="lib-actions">
            <div class="ui basic button reqdet" style="color:#fff !important;">Request details</div><br/>
            <div class="ui basic button">Send Message</div>
          </div>

          <div class="lib-count">
            <div class="item left floated"><div class="header"><%= result.projectCounter %></div>Projects</div><div class="item right floated"><div class="header">10</div>Locations</div>
          </div>

         <div class="lib-specs">
            <div class="header">Specialities :</div>
             <% if(result.specialities) {%>
            <div class="libs-items">
              <% for(var i=0; i<result.specialities.length; i++) {%>
               
                
                <div class="item"><i class="top aligned right triangle icon" style="color:#9A9A9A"></i><%= result.specialities[i] %>
              </div>
            <% } %>
             
            </div>
            <% } %>
          </div>
          
           <div class="ui divided list lib-xtras">
            <% if(result.location) {%>
              <div class="item _location_ profEdit" contenteditable="false">
                <i class="map marker icon"></i>
                <!--ko text : location.name --><!-- /ko -->,<!--ko text : location.city --><!-- /ko -->,<!--ko text : location.state --><!-- /ko -->
                <i data-bind="click:function(){locationEdit('_location_')}" class="write icon"></i>
              </div>
            <% } %>
            
            <form class="ui form" style="display:none">
              
              <div class="field">
                <input type="text" name="locality" data-bind="textInput :location.name" placeholder="locality">
              </div>
              
              <div class="field">
                <input type="text" name="city" data-bind="textInput :location.city" placeholder="city">
              </div>
             
              <div class="field">
                <input type="text" name="state" data-bind="textInput :location.state" placeholder="state">
              </div>
              <div class="ui positive button" data-bind="click:function(){updateUser('_location_')}">Save</div>
              <div class="ui button _cancel_" data-bind="click:function(){locationClose('_location_')}">Cancel</div>
            </form>
            <div class="content">
              <i class="linkify icon"></i>irx.com/
                <div class="item _unUserName_ profEdit" contenteditable="false">
                   <!--ko text : id --><!-- /ko -->
                   <i data-bind="click:function(){profileEdit('_unUserName_')}" class="write icon"></i>
                    
                </div>
                <div class="ui buttons">
                  <div class="ui positive button" data-bind="click:function(){updateUser('_unUserName_')}" >Save</div>
                  <div class="ui button _cancel_" data-bind="click:function(){profileClose('_unUserName_')}">Cancel</div>
                </div>
            </div>
            <div class="item"><i class="mail outline icon"></i><%= result.userId%></div>
            <div class="content">
              <div class="item _phoneNum_ profEdit" contenteditable="false">
                <i class="call icon"></i><!--ko text : phoneNum --><!-- /ko -->
                <i data-bind="click:function(){profileEdit('_phoneNum_')}" class="write icon"></i>
              </div>
              <div class="ui buttons">
                  <div class="ui positive button" data-bind="click:function(){updateUser('_phoneNum_')}" >Save</div>
                  <div class="ui button _cancel_" data-bind="click:function(){profileClose('_phoneNum_')}">Cancel</div>
                </div>
            </div>
            <!--<a class="lib-url">Get a personalized URL?</a>-->
          </div>

        </div>
      </div>
      <!-- Left panel ends here -->

      <!-- Right panel starts here -->

      <div class="twelve wide column">
          
          <div class="admin-profile">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="first"><i class="building outline icon"></i>products</a>
              <a class="item" data-tab="second"><i class="marker icon"></i>locations</a>
              <a class="item" data-tab="third"><i class="user icon"></i>leads</a>
              <a class="item" data-tab="fourth"><i class="history icon"></i>last visited</a>
              <a class="ui dropdown item right floated column">
                <i class="settings icon"></i>settings
                <div class="menu">
                  <div class="item">Suspend Account</div>
                  <div class="divider"></div>
                  <div class="item">Reset Password</div>
                </div>
              </a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first">
              <h3 class="ui heading">manage products</h3>
              <div class="ui stackable two column grid">
              <div class="column left-portion">
                  <div class="item">
                    <div class="right floated compact ui button">Add new</div>                    
                    
                    <div class="content">
                      <h4 class="header">My Projects</h4>
                    </div>
                  </div>
                  <!-- ko if: associatedProjects().length==0 -->
                    <div class="ui info message">
                      <ul class="list">
                        <li>No projects associated to your profile currently.</li>
                        <li>Click add new</li>
                      </ul>
                    </div>
                   <!-- /ko -->
                 <!-- ko foreach: associatedProjects -->
                    <div class="ui items">
                      <div class="item">
                         <div class="content left floated">
                          <a class="header" data-bind="text:name"></a>
                          
                          <div class="meta">
                            <div class="time" data-bind="text:builderName"></div>
                            <div class="category" data-bind="text:location.locality"></div>
                          </div>
                         </div>
                         <div class="right floated content" data-bind="click:function () { $parent.removeProject($index,id)}">
                           <i class="remove circle outline icon"></i>
                         </div>
                          <div class="right floated content" >
                           <i class="plus icon _bhk_" data-bind="click:function (){$root.editBhk($data)}"></i>
                           <ul class="_dis_" data-bind="visible:$root.currContext()==id">
                           <!-- ko foreach: $root.distress -->
                             <li> <!--ko text:$data.bhk --><!-- /ko -->BHK :
                              <input name="bhk" type="checkbox" data-bind="value:bhk,checked:$data.checked">
                              Price: <input type="text" name="price" data-bind="value:price" placeholder="Enter price..">
                             
                           <!-- /ko --></li>
                           <div class="ui button _sDistress_" data-bind="click:function(){$parent.markDistress(id)}">save</div>
                           </ul>
                         </div>
                      </div>
                    </div>
                  <!-- /ko -->
                 
                </div>
                <div class="column right-portion">
                  <div class="item">
                     <div class="right floated content">
                      <div class="column left-portion">
                        <div class="item">
                            <div class="ui transparent left icon input">
                              <input type="text" id="__searchPro" placeholder="Search projects...">
                              <i class="search icon"></i>
                            </div>
                        </div>
                        <!-- ko if: projects().length==0 -->
                          <div class="ui info  message">
                            <ul class="list">
                              <li>No project found.</li>
                              
                            </ul>
                          </div>
                         <!-- /ko -->
                        <!-- ko foreach: projects -->
                          <div class="ui items">
                            <div class="item">
                              <div class="content left floated">
                                <a class="header" data-bind="text:name"></a>
                                <div class="meta">
                                  <div class="time" data-bind="text:builderName"></div>
                                  <div class="category" data-bind="text:location.locality"></div>
                                </div>
                              </div>
                              <div class="right floated content" data-bind="click:function () { $parent.addProject(id)}"><i class="add circle icon"></i></div>
                            </div>
                          </div>
                        <!-- /ko -->
                      
                        
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
              <h3 class="ui heading">manage locations</h3>
              <div class="ui stackable two column grid">
                
                <div class="column left-portion">

                  <div class="item">
                    <div class="right floated compact ui button" id="addLoc">Add new</div>                    
                    <div class="ui fluid popup">
                      <div class="column left-portion">
                        <div class="item">
                            <div class="ui transparent left icon input">
                              <input type="text" id="__searchLoc" placeholder="Search locations...">
                              <i class="search icon"></i>
                            </div>
                        </div>
                        <!-- ko if: locations().length==0 -->
                          <div class="ui info  message">
                            <ul class="list">
                              <li>No location associated to your profile currently.</li>
                              <li>Click here to add new</li>
                            </ul>
                          </div>
                         <!-- /ko -->
                        <!-- ko foreach: locations -->
                          <div class="ui items">
                            <div class="item">
                              <div class="content left floated">
                                <a class="header" data-bind="text:name"></a>
                                <div class="meta">
                                 
                                  <div class="category" data-bind="text:location.locality"></div>
                                </div>
                              </div>
                              <div class="right floated content" data-bind="click:function () { $parent.addLocation(id)}"><i class="add circle icon"></i></div>
                            </div>
                          </div>
                           <!-- /ko -->
                      
                        
                      </div>
                    </div>
                    <div class="content">
                      <h4 class="header">My Location</h4>
                    </div>
                    <!-- ko if: associatedLocations().length==0 -->
                    <div class="ui info message">
                      <ul class="list">
                        <li>No location associated to your profile currently.</li>
                        <li>Click add new</li>
                      </ul>
                    </div>
                   <!-- /ko -->
                 <!-- ko foreach: associatedLocations -->
                    <div class="ui items">
                      <div class="item">
                        <div class="content left floated">
                          <a class="header" data-bind="text:name"></a>
                          
                          <div class="meta">
                           
                            <div class="category" data-bind="text:location.locality"></div>
                          </div>
                        </div>
                         <div class="right floated content" data-bind="click:function () { $parent.removeLocation($index,id)}"><i class="remove circle outline icon"></i></div>
                      </div>
                    </div>
                  <!-- /ko -->
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="third">
              <h3 class="ui heading">manage leads</h3>
              <div class="ui cards">
                 <!--ko foreach : leads -->
                  <div class="card">
                    <div class="content">
                      <div class="header" data-bind="text:name"></div>
                      <div class="meta">Buy / Sell / Rent</div>
                      <div class="description" >
                      <!--ko text : emailId --><!-- /ko -->
                        <br/><!--ko text : mobileNo --><!-- /ko -->
                      </div>
                    </div>
                  </div>
                  <!-- /ko -->
                  <!--ko if : leadsPageObj.hasMore()==true -->
                  <div class="ui animated button" data-bind="click:
                  nextLeads">
                    <div class="visible content">Next</div>
                    <div class="hidden content">
                      <i class="right arrow icon"></i>
                    </div>
                  </div>
                  <!-- /ko -->
                   <!--ko if : leadsPageObj.showPrevious()==true -->
                  <div class="ui animated button" data-bind="click:
                  previousLeads">
                    <div class="visible content">Previous</div>
                    <div class="hidden content">
                      <i class="left arrow icon"></i>
                    </div>
                  </div>
                  <!-- /ko -->
               </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="fourth">
              <h3 class="ui heading">Recently viewed</h3>
              <div class="ui horizontal list">
              <!-- ko foreach:lastVisited -->
                <div class="item">
                  <!-- ko if:type=='user' -->
                    <i class="icon user"></i>
                  <!-- /ko-->
                  <!-- ko if:type=='project' -->
                    <i class="icon building outline"></i>
                  <!-- /ko-->
                  <div class="content">
                    <div class="header"><!-- ko text:name --><!-- /ko --></div>
                    20,Nov 2014<span class="item">7:00 AM</span>
                  </div>
                </div>
              <!-- /ko-->
                
              </div>
            </div>
          </div>

      </div>

      <!-- Right panel ends here -->
    </div>    
  </div>
</div>
  <script type="text/javascript">
  function AdminProfile(){
    this.page={
      start:0,
      pageSize:3
    }
    this.userId="puneet.sharma"
  }

  function getImage(input) {
      
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#pic').attr('src', e.target.result);
      }
      var filename = input.value;
      var lastIndex = filename.lastIndexOf("\\");
      if (lastIndex >= 0) {
        filename = filename.substring(lastIndex + 1);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#_profilePic").change(function(){
    getImage(this);
  });

  $('div[contenteditable="false"]:not(.active)').on('mouseenter',function(){
    var _self = $(this);
  
    _self.find('i.write.icon').show();
  });

  $('div[contenteditable="false"]:not(.active)').on('mouseleave',function(){
    var _self = $(this);
  
    _self.find('i.write.icon').hide();
  });

  // $('.lib-pic>img').on('mouseenter',function(){
  //   var _self = $(this).parent();
  
  //   _self.find('.Editpic').show();
  // });

  // $('.lib-pic>img').on('mouseleave',function(){
  //   var _self = $(this).parent();;
  
  //   _self.find('.Editpic').hide();
  // });

  function profileEdit(self) {

    var _self = $('.'+self);
    if(self == "_unUserName_"){
      $('#_check_').show();
    }
    _self.addClass('active');
    _self.attr("contenteditable","true");
    _self.find('i').hide();
    _self.siblings('.ui.buttons').show();
  }

  function locationEdit(self) {

    var _self = $('.'+self);
    _self.find('i').hide();
    _self.siblings('.ui.form').show();
  }

  function locationClose(self) {
    var _self = $('.'+self);
    _self.find('i').css('display','initial');
    _self.siblings('.ui.form').hide();
  }

  function profileClose(self) {
    var _self = $('.'+self);
    if(self == "_unUserName_"){
      $('#_check_').hide();
    }
    _self.removeClass('active');
    _self.attr("contenteditable","false");
    _self.find('i').css('display','initial');
    _self.siblings('.ui.buttons').hide();
  }

  AdminProfile.prototype.init = function() {
    var classInstance = this;
    
    classInstance.viewModel={
      projects: ko.observableArray(),
      locations : ko.observableArray(),
      lastVisited : ko.observableArray(),
      associatedLocations :ko.observableArray(),
      id: ko.observable('<%= result.id %>'),
      associatedProjects : ko.observableArray(),
      name : ko.observable('<%= result.name %>'),
      companyName : ko.observable('<%= result.companyName %>'),
      specialities : ko.observableArray(),
      location : {name:ko.observable("<%= result.location.name %>"),
                  city:ko.observable("<%= result.location.city %>"),
                  state:ko.observable("<%= result.location.state %>")
                },
      phoneNum : ko.observable('<%= result.phoneNum %>'),
      leads : ko.observableArray(),
      currContext : ko.observable(),
      distress : ko.observableArray([
        {
          "bhk" : ko.observable(),
          "price": ko.observable(),
          "checked":ko.observable()
        }
      ]),
      checkedDistress : ko.observable(),
      updateUser : function(self){
        var _self = $('.'+self);
        var item =""
        if(self == '_compname_'){
          item = "companyName"
          classInstance.viewModel.companyName(_self.text().trim())
        } else if(self == '_name_'){
          item = "name"
          classInstance.viewModel.name(_self.text().trim())
        } else if(self == '_location_'){
          item = "location"
         
        } else if(self == '_phoneNum_'){
          item = "phoneNum"
          classInstance.viewModel.phoneNum(_self.text().trim())
        } else if(self == '_unUserName_'){
          item = "id"
         classInstance.viewModel.id(_self.text().trim())
         classInstance.checkAndUpdateUserName();
         return;
        }
        classInstance.updateUserProfile(item,self);
      },
      
      addProject : function(id){
        classInstance.associateProject(id);
      },
      removeProject : function(index,id){
         classInstance.removeAssociatedProject(index,id)
      },
      addLocation : function(id){
        classInstance.associateLocation(id);
       },
      removeLocation : function(index,id){
        classInstance.removeAssociatedLocation(index,id)
     },

      leadsPageObj :{
        start:ko.observable("0"),
        pageSize:ko.observable("9"),
        hasMore:ko.observable("false"),
        showPrevious:ko.observable("false")
      },
      nextLeads : function(){
         classInstance.listLeads(true);
      },
      previousLeads : function(){
        
        if(this.leadsPageObj.start() >= this.leadsPageObj.pageSize()){
          this.leadsPageObj.start(this.leadsPageObj.start()-this.leadsPageObj.pageSize()) 
        }
         classInstance.listLeads(true,true);
      },
      markDistress : function(id){

        var distressArr = new Array();
        var distress = classInstance.viewModel.distress();
        for(var i =0 ; i<distress.length ;i++){
          if(distress[i].checked){
            distressArr.push(distress[i])
          }
        }

        classInstance.markDistressF(distressArr,id)
      },
      editBhk : function(pro){
        
        classInstance.viewModel.currContext(pro.id)
        classInstance.viewModel.distress([])
        var bhk = pro.bhk;
        var checkedDistressData = classInstance.viewModel.checkedDistress();
        var checkedDistressObj =  checkedDistressData[pro.id];
       
       for (var i=0 ; i<bhk.length;i++){
        
          if(checkedDistressObj){
            
            for(var k=0;k<checkedDistressObj.length;k++){
             
              if(checkedDistressObj[k] && checkedDistressObj[k].bhk == bhk[i]){

                classInstance.viewModel.distress.push({"bhk":checkedDistressObj[k].bhk,"price":checkedDistressObj[k].price,"checked":true})      
                break;
              } else {
                classInstance.viewModel.distress.push({"bhk":bhk[i],"price":"","checked":false})
                break;
              }
            }
          } else{
            classInstance.viewModel.distress.push({"bhk":bhk[i],"price":"","checked":false})
        }
      }
      }
     
    }
    ko.applyBindings(classInstance.viewModel,document.getElementById('adminProfile')) 
    classInstance.listAssociatedProjects();
    classInstance.listAllProjects();
    classInstance.listAssociatedLocations();
    classInstance.listAllLocations();
    classInstance.listLeads(false);
    classInstance.listLastVisited();
    
    // $(document).on('click','._bhk_',function(){

    //   $(this).parent().find('._dis_').toggleClass('_hidden_')
    // })

    $("#__searchPro").autocomplete({

            source: function(request, response){
                var _self = this;
                classInstance.viewModel.projects([])
              classInstance.getProjectListingAutocomplete(request.term,request,response)
              },
              minLength: 0,
              dataType: "json",
              cache: false,
              select: function( event, ui ) {
                 
              }
              });
    $("#__searchLoc").autocomplete({

            source: function(request, response){
                var _self = this;
                classInstance.viewModel.projects([])
              classInstance.getLocationListingAutocomplete(request.term,request,response)
              },
              minLength: 0,
              dataType: "json",
              cache: false,
              select: function( event, ui ) {
                 
              }
              });
  }
 
  AdminProfile.prototype.removeAssociatedProject = function(index,id) {
    var classInstance = this;
    var obj = {}
  
    httpUtils.get('/delete-project/'+id,obj,"JSON",function(data){
       if(data.status==0){
         classInstance.viewModel.associatedProjects.remove(function(item){
          return item.id == id;
        });
      } 
    })
 }
 
  AdminProfile.prototype.removeAssociatedLocation = function(index,id) {
      var classInstance = this;
      var obj = {}
    
      httpUtils.get('/delete-location/'+id,obj,"JSON",function(data){
         if(data.status==0){
           classInstance.viewModel.associatedLocations.remove(function(item){
            return item.id == id;
          });
        } 
      })
   }
  AdminProfile.prototype.getProjectListingAutocomplete=function(text,request,response){
      var classInstance = this;
      httpUtils.get("/project-autocomplete",{"text":text,"page":classInstance.page},"JSON",function(data){
        if(data.status==0){
           var arr = new Array();
          for(var i=0;i<data.result.length;i++){
              arr.push(data.result[i]._source)
          }
        ko.utils.arrayPushAll(classInstance.viewModel.projects,arr)
        }
    })
    }
     AdminProfile.prototype.getLocationListingAutocomplete=function(text,request,response){
      var classInstance = this;
      httpUtils.get("/project-autocomplete",{"text":text,"page":classInstance.page},"JSON",function(data){
        if(data.status==0){
           var arr = new Array();
          for(var i=0;i<data.result.length;i++){
              arr.push(data.result[i]._source)
          }
        ko.utils.arrayPushAll(classInstance.viewModel.locations,arr)
        }
    })
    }

  AdminProfile.prototype.associateProject = function(id) {
    var classInstance = this;
    var obj = {}
    
    httpUtils.get('/associate-project/'+id,obj,"JSON",function(data){
       if(data.status==0){
          classInstance.viewModel.associatedProjects.push(data.result);
       } 
    })
  }

  AdminProfile.prototype.associateLocation = function(id) {
    var classInstance = this;
    var obj = {}
    httpUtils.get('/associate-location/'+id,obj,"JSON",function(data){
       if(data.status==0){
           classInstance.viewModel.associatedLocations.push(data.result);
       } 
    })
  }

  AdminProfile.prototype.markDistressF = function(distress,projectId) {
    var distressData={};
    distressData[projectId]=distress;
    console.log(distressData)
    var classInstance = this;
         httpUtils.post("/mark-distress/"+projectId,
                        distressData,
                        {},"JSON",function(result){
                          alert(1)
                        })
  };

  AdminProfile.prototype.listLeads = function(replace,previous) {
    var classInstance = this;
    var pagenation ={
      start:classInstance.viewModel.leadsPageObj.start(),
      pageSize:classInstance.viewModel.leadsPageObj.pageSize()
    }
    httpUtils.get('/leads',{page:pagenation},"JSON",function(data){
       if(data.status==0){
        if(replace){
          classInstance.viewModel.leads([])
        }
        ko.utils.arrayPushAll(classInstance.viewModel.leads,data.result)
        if(classInstance.viewModel.leadsPageObj.start() !=0){
          
          classInstance.viewModel.leadsPageObj.showPrevious(true)
        }else{

           classInstance.viewModel.leadsPageObj.showPrevious(false)
        }
        
        if(!previous && data.page.hasMore){
          
          classInstance.viewModel.leadsPageObj.start( Number(data.page.start)+Number(data.page.pageSize));
  
        }
        
        classInstance.viewModel.leadsPageObj.hasMore(data.page.hasMore);
       } 
    })
  }

  AdminProfile.prototype.listAssociatedProjects = function() {
    
    var classInstance = this;

    httpUtils.get("/list-user-projects/"+classInstance.userId,{page:classInstance.page},"JSON",function(data){
       if(data.status==0){
        if(data.result != null){
         classInstance.viewModel.checkedDistress(data.result.distress);
          ko.utils.arrayPushAll(classInstance.viewModel.associatedProjects,data.result.projects)
         classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        }
        } 
    })
  }
  
  AdminProfile.prototype.listLastVisited = function() {
    
    var classInstance = this;

    httpUtils.get("/last-visited",{},"JSON",function(data){
       if(data.status==0){
        if(data.result != null){
          ko.utils.arrayPushAll(classInstance.viewModel.lastVisited,data.result)
        }
        
       // classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
      
       } 
    })
  }
  AdminProfile.prototype.listAssociatedLocations = function() {
    
    var classInstance = this;

    httpUtils.get("/list-user-locations/"+classInstance.userId,{page:classInstance.page},"JSON",function(data){
       if(data.status==0){
        ko.utils.arrayPushAll(classInstance.viewModel.associatedLocations,data.result)
        classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
      
       } 
    })
  }
   AdminProfile.prototype.resetPage = function() {
   var classInstance = this;
   classInstance.start=0;
  }
   AdminProfile.prototype.resetLeadsPageObj = function() {
   var classInstance = this;
   classInstance.viewModel.resetLeadsPageObj.start(0);
  }
  AdminProfile.prototype.checkAndUpdateUserName = function() {
   var classInstance = this;
   var text = classInstance.viewModel.id();
   httpUtils.get('/check-userName/'+text,{},"JSON",function(data){
       if(data.status==0){
        alert(data.status)
       } else {
        alert(data.status)
       } 
    })
  }
  
   AdminProfile.prototype.listAllProjects = function() {
    var filters ={"filters":{"productType":"project"}}
   var classInstance = this;
      httpUtils.post("/list-projects-elastic",filters,{},"JSON",function(data){
         if(data.status==0){
         ko.utils.arrayPushAll(classInstance.viewModel.projects,data.result)  
         classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
         
        }
    })
  }
  AdminProfile.prototype.listAllLocations = function() {
  var filters ={"filters":{"productType":"location"}}
   var classInstance = this;
      httpUtils.post("/list-projects-elastic",filters,{},"JSON",function(data){
         if(data.status==0){
         ko.utils.arrayPushAll(classInstance.viewModel.locations,data.result)  
         classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
         
        }
    })
  }
  AdminProfile.prototype.updateUserProfile = function(item,self) {
     var classInstance = this;
    var obj = {};
    if(item=='location'){
      obj.location = {"name":classInstance.viewModel.location.name,
                       "city":classInstance.viewModel.location.city,
                       "state":classInstance.viewModel.location.state };
    }else{
      obj[item] = classInstance.viewModel[item]();
    }
      httpUtils.post("/update-user",obj,{},"JSON",function(data){
        if(data.status==0){
          if(item=='location'){
            locationClose(self);
          } else if(item=='phoneNum'){
            profileClose(self)

             $('.compact.button')
                .popup({
                  inline: true,
                  on    : 'click',
                  position: 'bottom left'
                })
              ;
          } else {
            profileClose(self);
          }
        }
    })
  }

  $(document).ready(function(){
    var adminProfile = new AdminProfile();
    adminProfile.init();
  })
  </script>


  <% include ../partials/footer.html.ejs %>

</body>
