<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/admin-profile.css">
  <style type="text/css">
  ._hidden_ {
    display: none
  }
  ._profsearProj>.item {
    padding: .9rem;
    background: rgba(242, 242, 242, 0.38);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    margin-right: 1rem;
  }
  .ui.horizontal.label {
    color: #7b7b7b !important;
    margin-top: .5rem;
  }
  ul._dis_  {
    padding: .8rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 3px;
  }
  ul._dis_>li {
    padding: .5rem;
    list-style-type: none;
  }
  ul._dis_>li>input {
    padding: .5rem;
    border: 1px solid #ddd;
  }
  ._profaddProj {
    margin: 2rem !important;
  }
  ._proCity {
    text-transform: capitalize;
    color:#105296;
  }
  .error {
    background:#fff0f0 !important;
    border-color: #dbb1b1 !important;
    color: #d95c5c !important;
    border-radius: 0 .2857rem .2857rem 0 !important;
    box-shadow: 2px 0 0 0 #d95c5c inset !important;
  }
  </style>
  <script type="text/javascript" src="/js/library/jquery.form.js"></script>
</head>
<body>  
  <% include ../partials/header.html.ejs %>
  <!-- content goes here -->
   
  <div id="content" class="ui centered page grid admin">
    <input type="hidden" id="__userId" value="<%= result.irxId %>">

    <div class="fourteen wide column" id="adminProfile">

      <div class="ui two column center aligned stackable divided grid">

      <!-- Left panel starts here -->

      <div class="four wide column _editable_">
        <div class="column li-box">
          <div class="lib-pic">
                <img id="pic" class="ui circular image" src="<%= result.imageUrl?result.imageUrl+'?date='+new Date():'/images/elliot.jpg'%>">
                <div class="Editpic" style="cursor:pointer !important">
                    <form id="_profilePicForm" enctype="multipart/form-data">
                        <input id="_profilePic" name="image" type="file" ><i class="icon photo"></i>
                    </form>
                </div>
            </div>
            <div class="content">
            
                <div class="header _name_ profEdit" contenteditable="false" style="width: 87%;margin: .5em 1em;line-height: 1.6em;">
                    <!-- ko if:name=="" -->
                      Enter Name
                    <!-- /ko -->
                    <!-- ko if:name !="" -->
                      <!--ko text : name --><!-- /ko -->
                    <!-- /ko -->
                    <i data-bind="click:function(){profileEdit('_name_')}" class="write icon"></i>
                </div>
                <div class="ui buttons">
                    <div class="ui positive button" data-bind="click:function(){updateUser('_name_')}" >Save</div>
                    <div class="ui button _cancel_" data-bind="click:function(){profileClose('_name_')}">Cancel</div>
                </div>
            </div>
            <div class="ui divided list lib-xtras" style="text-align:left;margin-bottom: 0;padding-bottom: 0 !important;">
                <div class="header" style="font-weight: bold;font-size: 1em;">Company Name : </div>
                <div class="item _compname_ profEdit" contenteditable="false">
                    <span class="_csn" style="width:95%;">
                        <!-- ko if:companyName -->
                            <!-- ko text:companyName --><!-- /ko -->,
                        <!-- /ko -->
                    </span>
                    <i data-bind="click:function(){locationEdit('_compname_')}" class="write icon"></i>
                </div>
                
                <form class="ui form" style="display:none;padding: 1em 0;">
                    <div class="field">
                        <input type="text" name="locality" data-bind="textInput :companyName" placeholder="Company Name">
                    </div>
                    <div class="ui positive button" data-bind="click:function(){updateUser('_compname_')}">Save</div>
                    <div class="ui button _cancel_" data-bind="click:function(){locationClose('_compname_')}">Cancel</div>
                </form>
            </div>    
            <div class="ui divided list lib-xtras" style="text-align:left;margin: 0 !important;padding-top: 0 !important;">
                <div class="item _invite_ profEdit" contenteditable="false">
                    <span class="_csn" style="width:88%;color: #5995A9;">
                        Invite Your Associate
                    </span>
                    <i data-bind="click:function(){locationEdit('_invite_')}" class="add square icon _csn" style="font-size: 125%;margin: 0 !important;padding: 0;color: #5995A9;opacity: 1;cursor: pointer;" ></i>

                </div>
                
                <form class="ui form" style="display:none;padding: 1em 0;">
                    <div class="field">
                        <input type="text" class="emailI" data-bind="value:iEmailId" placeholder="Enter email id">
                    </div>
                    <div class="ui positive button" data-bind="click:function(){inviteUser()}">Invite</div>
                     <div class="ui button _cancel_" data-bind="click:function(){locationClose('_invite_')}">Cancel</div>
                </form>
            </div>           
            <div class="lib-count" style="border-top: 2px solid #f4f4f4;margin-top:1rem;">
                <div class="item left floated"><div class="header" data-bind="text:associatedProjects().length"></div>Projects</div>
                <div class="item right floated">
                    <div class="header" data-bind="text:associatedLocations().length"></div>
                    Locations
                </div>
          </div>

         <div class="lib-specs">
            <div class="header" style="position:relative;font-weight: bold;font-size: 1em;">Specialities : <div class="ui icon buttons _csn" style="display: block;position: initial;">
              <div class="ui top left pointing dropdown button _dDown" style="background: #FFF;color: #5995A9;font-weight: bold;padding: 0 .2em !important;">
                <i class="add square icon" style="font-size: 125%;"></i>
                <div class="menu">
                  <div class="item">Rent</div>
                  <div class="item">Sale</div>
                  <div class="item">Property</div>
                  <div class="item">Plot</div>
                </div>
              </div>
            </div></div>
            
      
            <div class="libs-items">
              <!-- ko foreach:specialities -->
                <div class="item" style="text-transform:capitalize">
                  <i class="top aligned right triangle icon" style="color:#9A9A9A"></i>
                    <!-- ko text:$data --><!-- /ko -->
                  <i class="remove icon" style="cursor:pointer" data-bind="click:function(){$root.removeSpecialtiy($data)}"></i>
                </div>
            <!-- /ko -->
             
            </div>
        
          </div>
          <div class="ui divided list lib-xtras" style="text-align:left;margin: 0;border-bottom: 2px solid #F4F4F4;">
            <div class="header" style="position:relative;font-weight: bold;font-size: 1em;">Public Url :</div>
            <div class="content">
            
                <div class="item _unUserName_ profEdit" contenteditable="false" data-bind="attr:{title:'www.indianrealtyexchange.com/'+id()}">
                   <!--ko text : id --><!-- /ko -->
                   <i data-bind="click:function(){profileEdit('_unUserName_')}" class="write icon" style="padding: 0;right: -15px;"></i>
                    
                </div>
                <div class="ui buttons">
                  <div class="ui positive button" data-bind="click:function(){updateUser('_unUserName_')}" >Save</div>
                  <div class="ui button _cancel_" data-bind="click:function(){profileClose('_unUserName_')}">Cancel</div>
                </div>
            </div>
          </div>
          <div class="ui divided list lib-xtras" style="text-align:left;margin-bottom: 0;padding-bottom: 0 !important;">
            <div class="header" style="position:relative;font-weight: bold;font-size: 1em;">Contact Info :</div>

            <% if(result.location && result.location != null) {%>
              <div class="item _location_ profEdit" contenteditable="false">
                <i class="map marker icon _csn"></i>
                <span class="_csn" style="width:85%;">
                  <!-- ko if:location.name -->
                    <!-- ko text:location.name --><!-- /ko -->,
                  <!-- /ko -->
                  <!-- ko if:location.city -->
                    <!-- ko text:location.city --><!-- /ko -->,
                  <!-- /ko -->
                   <!-- ko if:location.state -->
                    <!-- ko text:location.state --><!-- /ko -->,
                   <!-- /ko  -->
                </span>
                <i data-bind="click:function(){locationEdit('_location_')}" class="write icon"></i>
              </div>
            <% } %>
            
            <form class="ui form" style="display:none;padding: 1em 0;">
              
              <div class="field">
                <input type="text" name="locality" data-bind="textInput :location.name" placeholder="locality">
              </div>
              
              <div class="field">
                <input type="text" name="city" data-bind="textInput :location.city" placeholder="city">
              </div>
             
              <div class="field">
                <input type="text" name="state" data-bind="textInput :location.state" placeholder="state">
              </div>
              <div class="ui positive button" data-bind="click:function(){updateUser('_location_')}">Save</div>
              <div class="ui button _cancel_" data-bind="click:function(){locationClose('_location_')}">Cancel</div>
            </form>
            
            <div class="item"><i class="mail outline icon"></i><%= result.contactEmailAddress?result.contactEmailAddress:result.userId%></div>
            <!-- <div class="content">
              <div class="item _phoneNum_ profEdit" contenteditable="false">
                <i class="call icon"></i><!--ko text : phoneNum --><!-- /ko -->
                <!-- <i data-bind="click:function(){profileEdit('_phoneNum_')}" class="write icon"></i> -->
            <!--   </div>
              <div class="ui buttons">
                <div class="ui positive button" data-bind="click:function(){updateUser('_phoneNum_')}" >Save</div>
                <div class="ui button _cancel_" data-bind="click:function(){profileClose('_phoneNum_')}">Cancel</div>
              </div>
            </div> -->
            
          </div>
          <div class="ui divided list lib-xtras" style="text-align:left;margin: 0 !important;padding-top: 0 !important;">
            <div class="item _phoneNum_ profEdit" contenteditable="false">
              <i class="call _csn icon"></i>
              <span class="_csn" style="width:85%;">
                <!--ko text : phoneNum --><!-- /ko -->
              </span>
              <i data-bind="click:function(){locationEdit('_phoneNum_')}" class="write icon"></i>
            </div>
          
            <form class="ui form" style="display:none;padding: 1em 0;">
              
              <div class="field">
                <input type="text" class="phoneNumI" name="locality" data-bind="textInput :phoneNum" placeholder="Phone Number">
              </div>
              <div class="ui positive button" data-bind="click:function(){updateUser('_phoneNum_')}">Save</div>
              <div class="ui button _cancel_" data-bind="click:function(){locationClose('_phoneNum_')}">Cancel</div>
            </form>
            <!-- ko if:isVisibleOtp-->
                <form class="ui form" style="padding: 1em 0;">
              
                  <div class="field">
                    <input type="text" data-bind="value:otp" placeholder="Enter OTP">
                  </div>
                  <div class="ui positive button" data-bind="click:function(){verifyPhone('otp')}">Save</div>
                  <div class="ui button _cancel_" data-bind="click:function(){closeOtp()}">Cancel</div>
                </form>
            <!-- /ko-->
          </div>
        </div>
      </div>
      <!-- Left panel ends here -->

      <!-- Right panel starts here -->

      <div class="twelve wide column">
          
          <div class="admin-profile">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="first"><i class="building outline icon"></i>products</a>
              <a class="item" data-tab="second"><i class="marker icon"></i>locations</a>
              <a class="item" data-tab="third"><i class="user icon"></i>leads</a>
              <a class="item" data-tab="fourth" data-bind="click:function(){listLastVisited()}"><i class="history icon"></i>last visited</a>
              <a class="ui dropdown item right floated column">
                <i class="settings icon"></i>settings
                <div class="menu">
                  <div class="item" style="cursor:pointer" id="_reset_btn">
                  <i class="refresh icon"></i>
                  Reset Password
                  </div>
                </div>
              </a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first">
              <h3 class="ui heading _csn" style="float:left;">manage products</h3>
               <div class="ui info  message _csn _srch_loc">
                    <i class="search icon"></i>
                    Location 
                    <div class="ui floating dropdown labeled search icon button _city_">
                        <span class="text" data-bind="text:city"></span>
                        <div class="menu _ld_DCTY_DTA ">
                        </div>
                    </div>
                </div>
                <div class="ui stackable two column grid">
                    <div class="column left-portion">
                        <div class="item">                   
                            <div class="content">
                                <h4 class="header">My Projects</h4>
                            </div>
                        </div>
                  <!-- ko if: associatedProjects().length==0 -->
                    <div class="ui info message">
                      <ul class="list">
                        <li>No projects associated to your profile.</li>
                      </ul>
                    </div>
                  <!-- /ko -->
                 <!-- ko foreach: associatedProjects -->
                    <div class="ui items">
                      <div class="item">
                         <div class="content _prj_lst">
                         <!-- ko if: $data.hasOwnProperty("name") -->
                            <a class="ui header _ellipsis" data-bind="text:name"></a>
                          <!-- /ko -->
                          <div class="description" style="margin:0;color:#999;">
                          <!-- ko if: $data.hasOwnProperty("builderName") -->
                            <div class="time"><span>Builder</span> <span data-bind="text:builderName"></span></div>
                          <!-- /ko -->
                            <div style="display:inline-block">
                             <!--  <i class="marker icon _csn"></i> -->
                              <!-- ko if: $data.hasOwnProperty("location") -->
                                <div class="category _csn"><span>Location</span> <span data-bind="text:location.name"></span></div>
                               <!-- /ko -->
                            </div>
                          </div>
                         </div>
                         <div class="content right floated">
                          <i class="add circle icon _bhk_" data-bind="click:function (){$root.editBhk($index)}"></i>
                          <i class="remove circle icon" data-bind="click:function () { $parent.removeProject($index,id)}"></i>
                         </div>
                          <div class="content" data-bind="attr:{'data-id':id}" style="padding-top:15px">
                            <div class="_dInfo_" data-bind="html:$parent.getDistressInfo(id)">
                              
                            </div>
                            
                           <ul class="_dis_ " data-bind="visible:$root.currContext()==id">
                           <!-- ko foreach: $root.distress -->
                             <li> <!--ko text:$data.bhk --><!-- /ko -->BHK :
                              <input name="bhk" class="_dBhk" type="checkbox" data-bind="value:bhk,checked:$data.checked">
                              Price: <input type="text" class="_dPrice" name="price" data-bind="value:price" placeholder="Enter price..">
                             
                           <!-- /ko --></li>
                           <div style="text-align:right;padding:5px">
                            <li class="ui buttons tiny">
                              <div class="ui button _scancel_">Cancel</div>
                              <div class="or"></div>
                              <div class="ui positive button _sDistress_" data-bind="click:function(){$parent.markDistress(id)}">save</div>
                            </li>
                            </div>
                           </ul>
                         </div>
                      </div>
                    </div>
                  <!-- /ko -->
                 
                </div>
               
                <div class="_profsearProj column right-portion" style="display:inline-block;margin:2rem 0;padding:0;width:48%;">
                  <div class="item" style="">
                     <div class="right floated content">
                      <div class="column left-portion">
                        <div class="item">
                            <div class="ui transparent left icon input">
                              <input type="text" id="__searchPro" placeholder="Search projects...">
                              <i class="search icon"></i>
                            </div>
                        </div>
                        <!-- ko if: projects().length==0 -->
                          <div class="ui info message">
                            <ul class="list">
                              <li>search and associate projects to your profile.</li>
                            </ul>
                          </div>
                        <!-- /ko -->
                        <!-- ko foreach: projects -->
                          <div class="ui items">
                            <div class="item">
                              <div class="content">
                                <!-- ko if: $data.hasOwnProperty("name") -->
                                   <a class="ui header" data-bind="text:name"></a>
                                <!-- /ko -->
                                <div class="description" style="margin:0;color:#999;">
                                   <!-- ko if: $data.hasOwnProperty("builderName") -->
                                    <div class="time" data-bind="text:builderName"></div>
                                  <!-- /ko -->
                                  <div style="inline-block">
                                   
                                    <!-- ko if: $data.hasOwnProperty("location") -->
                                       <i class="marker icon _csn"></i>
                                      <div class="category _csn" data-bind="text:location.name"></div>
                                    <!-- /ko -->
                                  </div>
                                </div>
                              </div>
                              <div class="right floated content" data-bind="click:function () { $parent.addProject(id)}"><div class="ui mini button">Add</div></div>
                              <div class="content"></div>
                            </div>
                          </div>
                        <!-- /ko -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
              <h3 class="ui heading">Manage locations</h3>
              <div class="ui info  message _csn _srch_loc">
                    <i class="search icon"></i>
                    Location 
                    <div class="ui floating dropdown labeled search icon button _city_">
                        <input class="search" tabindex="0"><span class="text" data-bind="text:city">mumbai</span>
                        <div class="menu _ld_DCTY_DTA transition hidden" tabindex="-1">
                        </div>
                    </div>
                </div>
              <div class="ui stackable two column grid">
              <div class="column left-portion">
                  <div class="item">                   
                    <div class="content">
                      <h4 class="header">My Locations</h4>
                    </div>
                  </div>

                  <!-- ko if: associatedLocations().length==0 -->
                    <div class="ui info message">
                      <ul class="list">
                        <li>No locality associated to your profile currently.</li>
                      </ul>
                    </div>
                   <!-- /ko -->
                 <!-- ko foreach: associatedLocations -->
                    <div class="ui items">
                      <div class="item">
                         <div class="content">
                         <!-- ko if: $data.hasOwnProperty("name") -->
                            <a class="ui header" data-bind="text:name"></a>
                          <!-- /ko -->
                          <br>
                         <!-- ko if: $data.hasOwnProperty("location") -->
                             <i class="marker icon _csn"></i>
                            <div class="category _csn" data-bind="text:location.name"></div>
                          <!-- /ko -->
                         </div>
                         <div class="content right floated">
                           <i class="remove circle outline icon" data-bind="click:function () { $parent.removeLocation($index,id)}"></i>
                         </div>
                          
                      </div>
                    </div>
                  <!-- /ko -->
                </div>
                
                <div class="_profsearProj column right-portion" style="display:inline-block;margin:2rem 0;padding:0;width:48%">
                  <div class="item" style="">
                     <div class="right floated content">
                      <div class="column left-portion">
                        <div class="item">
                            <div class="ui transparent left icon input">
                              <input type="text" id="__searchLoc" placeholder="Search locations...">
                              <i class="search icon"></i>
                            </div>
                        </div>
                        <!-- ko if: locations().length==0 -->
                          <div class="ui info message">
                            Search locality and associate it with your profile.
                          </div>
                        <!-- /ko -->
                        <!-- ko foreach: locations -->
                          <div class="ui items">
                            <div class="item">
                              <div class="content">
                              <!-- ko if: $data.hasOwnProperty("name") -->
                                <a class="ui header" data-bind="text:name"></a>
                              <!-- /ko -->
                             
                              
                              </div>
                              <div class="right floated content" data-bind="click:function () { $parent.addLocation(id)}"><div class="ui mini button">Add</div></div>
                              <div class="content"></div>
                            </div>
                          </div>
                        <!-- /ko -->
                      
                        
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            
            <div class="ui bottom attached tab segment" data-tab="third">
              <h3 class="ui heading">manage leads</h3>
              <div style="margin-bottom:20px;float:right;">
                  <!--ko if : leadsPageObj.hasMore()==true -->
                     <!--ko if : leadsPageObj.showPrevious()==true -->
                      <div class="ui button" data-bind="click:previousLeads">
                        Previous
                      </div>
                    <!-- /ko -->
                    <div class="ui button"  data-bind="click:nextLeads">
                      Next
                    </div>
                    
                    <!-- /ko -->
                </div>
              <div class="ui cards">
                <!-- ko if: leads().length==0 -->
                  <div class="ui info message" style="width: 35%;margin-top: 2em;">
                    <div>No leads found.</div>
                  </div>
                <!-- /ko -->
                
                 <!--ko foreach : leads -->
                  <div class="card">
                    <div class="content">
                        <div style="float:right;cursor:pointer" data-bind="click:function(){$root.deleteLead(id)}"><i class="remove icon"></i></div>
                        <!-- ko if: $data.hasOwnProperty("name") -->
                            <div class="header leadName" data-bind="text:name" style="font-size: 1.25em !important;"></div>
                        <!-- /ko -->
                            <div class="meta leadType" style="font-size: 1.05em !important;">
                              <!-- ko if: $data.hasOwnProperty("action") -->
                                <span data-bind="text:action"></span>
                              <!-- /ko -->
                              <!-- ko if: $data.hasOwnProperty("propertyType") -->
                                - <span data-bind="text:propertyType"></span>
                              <!-- /ko -->
                              <!-- ko if: $data.hasOwnProperty("bhk") -->
                                - <span ><!--ko text:bhk--><!-- /ko--> BHK</span>
                              <!-- /ko -->
                              <!-- ko if: $data.hasOwnProperty("createdOn") -->
                                <span style="float:right" ><!--ko text:$parent.formateDate(createdOn)--><!-- /ko--></span>
                              <!-- /ko -->
                            </div>
                        <div style="background: #e9faff;border: 1px solid #B3CAD0;margin-top: .5em;padding:5px;">
                        <span class="_csn" style="line-height: 25px;word-break: break-all;width:100%;">
                            <!-- ko if: $data.hasOwnProperty("emailId") -->
                                <!--ko text : emailId --><!-- /ko -->
                            <!-- /ko -->
                        </span>
                        <span class="_csn" style="line-height: 25px;width:100%;word-break: break-all;text-transform:uppercase;">
                            <!-- ko if: $data.hasOwnProperty("mobileNo") -->
                                <!--ko text : mobileNo --><!-- /ko -->
                            <!-- /ko -->
                            <span style="float:right">
                              <!-- ko if: $data.hasOwnProperty("type") -->
                                  <!--ko text : type --><!-- /ko -->
                              <!-- /ko -->
                            </span>
                        </span>
                      </div>
                      <div style="margin-top:15px">
                        <i class="building outline icon"></i>
                          <!-- ko if: $data.hasOwnProperty("projectId") -->
                            <a style="color:#27AFB5 !important;font-size: 1.15em !important;" data-bind="attr:{href:'/project/'+projectId}" target="_blank">
                              <!-- ko if: $data.hasOwnProperty("projectName") -->
                                  <!--ko text : projectName --><!-- /ko -->
                              <!-- /ko -->
                            </a>
                        <!-- /ko -->
                      </div>
                      <div style="font-size: .9em;margin-top: 5px;color: #8E8E8E;">
                        <i class="marker icon"></i>
                          <!-- ko if: $data.hasOwnProperty("locality") -->
                            <!--ko text : locality --><!-- /ko -->
                        <!-- /ko -->
                      </div>
                    </div>
                  </div>
                  <!-- /ko -->
                  
               </div>
            </div>
            <div class="ui bottom attached tab segment"  data-tab="fourth">
              <h3 class="ui heading">Recently viewed</h3>
              <div class="ui horizontal list">
              <!-- ko foreach:lastVisited -->
                <div class="item">
                  <!-- ko if:type=='user' -->
                    <i class="icon user"></i>
                  <!-- /ko-->
                  <!-- ko if:type=='project' -->
                    <i class="icon building outline"></i>
                  <!-- /ko-->
                  <div class="content">
                    <div class="header"><!-- ko text:name --><!-- /ko --></div>
                    <a data-bind="attr:{href:url}" style="cursor: pointer;float: right;font-size: .7em;font-weight: bold;">Visit</a>
                  </div>
                </div>
              <!-- /ko-->
                
              </div>
            </div>
          </div>

      </div>

      <!-- Right panel ends here -->
    </div>    
  </div>
</div>
  <script type="text/javascript">
  function AdminProfile(){
    this.page={
      start:0,
      pageSize:3
    }
    this.userId=$('#__userId').val();
  }

  $('._profaddProj').click(function () {
      $('._profsearProj').show();
      $(this).hide();
  });

  $(document).off('click','._scancel_');
  $(document).on('click','._scancel_',function() {
    $(this).parents('ul._dis_ ').hide();
  });

  function getImage(input) {
  
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#pic').attr('src', e.target.result);
      }
      var filename = input.value;
      var lastIndex = filename.lastIndexOf("\\");
      if (lastIndex >= 0) {
        filename = filename.substring(lastIndex + 1);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#_profilePic").change(function(){
    
    $("#_profilePicForm").ajaxSubmit({
      url: '/update-user',
       type: 'post',
       success: function(data){
        httpUtils.checkStatus(data,true,true)
       }
     })
     getImage(this);
    return false;
   
  });

  $('div[contenteditable="false"]:not(.active)').on('mouseenter',function(){
    var _self = $(this);
  
    _self.find('i.write.icon').show();
  });

  $('div[contenteditable="false"]:not(.active)').on('mouseleave',function(){
    var _self = $(this);
  
    _self.find('i.write.icon').hide();
  });

  // $('.lib-pic>img').on('mouseenter',function(){
  //   var _self = $(this).parent();
  
  //   _self.find('.Editpic').show();
  // });

  // $('.lib-pic>img').on('mouseleave',function(){
  //   var _self = $(this).parent();;
  
  //   _self.find('.Editpic').hide();
  // });

  function profileEdit(self) {

    var _self = $('.'+self);
    if(self == "_unUserName_"){
      $('#_check_').show();
    }
    _self.addClass('active');
    _self.attr("contenteditable","true");
    _self.find('i').hide();
    _self.siblings('.ui.buttons').show();
  }

  function locationEdit(self) {

    var _self = $('.'+self);
    _self.find('i').hide();
    _self.siblings('.ui.form').show();
  }

  function locationClose(self) {
    var _self = $('.'+self);
    _self.find('i').css('display','initial');
    _self.siblings('.ui.form').hide();
  }

  function profileClose(self) {
    var _self = $('.'+self);
    if(self == "_unUserName_"){
      $('#_check_').hide();
    }
    _self.removeClass('active');
    _self.attr("contenteditable","false");
    _self.find('i').css('display','initial');
    _self.siblings('.ui.buttons').hide();
  }

  AdminProfile.prototype.init = function() {
    var classInstance = this;
    classInstance.viewModel={
      projects: ko.observableArray(),
      locations : ko.observableArray(),
      lastVisited : ko.observableArray(),
      associatedLocations :ko.observableArray(),
      city : ko.observable(),
      id: ko.observable('<%= result.id %>'),
      associatedProjects : ko.observableArray(),
      name : ko.observable('<%= result.name?result.name:'' %>'),
      companyName : ko.observable('<%= result.companyName?result.companyName:"Enter Company Name" %>'),
      specialities : ko.observableArray(),
      location : {name:ko.observable("<%= result.location.name?result.location.name:'' %>"),
                  city:ko.observable("<%= result.location.city?result.location.city:'' %>"),
                  state:ko.observable("<%= result.location.state?result.location.state:'' %>")
                },
      phoneNum : ko.observable('<%= result.phoneNum?result.phoneNum:'' %>'),
      isVisibleOtp:ko.observable(false),
      otp:ko.observable(),
      leads : ko.observableArray(),
      currContext : ko.observable(),
      iEmailId : ko.observable(),

      distress : ko.observableArray([
        {
          "bhk" : ko.observable(),
          "price": ko.observable(),
          "checked":ko.observable()
        }
      ]),
      checkedDistress : ko.observable(),
      updateUser : function(self){
        var _self = $('.'+self);
        var item =""
        if(self == '_compname_'){
          item = "companyName"
          //classInstance.viewModel.companyName(_self.text().trim())
        } else if(self == '_name_'){
          item = "name"
          classInstance.viewModel.name(_self.text().trim())
        } else if(self == '_location_'){
          item = "location"
         
        } else if(self == '_phoneNum_'){
          item = "phoneNum"
           $('.phoneNumI').removeClass("error")
          var pNo = _self.text().trim();
       
          if(pNo.length>10){
            $('.phoneNumI').addClass("error")
            return;
          }
          if(isNaN(pNo)){
          
            $('.phoneNumI').addClass("error")
            return;
          }
          classInstance.viewModel.phoneNum(_self.text().trim())
        } else if(self == '_unUserName_'){
          item = "id"
         classInstance.viewModel.id(_self.text().trim())
         classInstance.checkAndUpdateUserName();
         return;
        }
        classInstance.updateUserProfile(item,self);
      },
      
      addProject : function(id){
        classInstance.associateProject(id);
      },
      removeProject : function(index,id){
         classInstance.removeAssociatedProject(index,id)
      },
      addLocation : function(id){
        classInstance.associateLocation(id);
       },
      removeLocation : function(index,id){
        classInstance.removeAssociatedLocation(index,id)
     },
     deleteLead : function(id){
      classInstance.deleteLead(id)
     },
     inviteUser : function(){
        $('.emailI').removeClass('error')
        
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      
        if(!re.test(classInstance.viewModel.iEmailId())){
          $('.emailI').addClass('error')
          return
        }
        httpUtils.get("/invite-for-review/"+classInstance.viewModel.iEmailId(),{},"JSON",function(data){
          if(httpUtils.checkStatus(data,true,true)){
            locationClose("_invite_");
            classInstance.viewModel.iEmailId("");
        }
      }) 
     },
     
     verifyPhone : function(){
        var phoneNum = true;
        httpUtils.get("/verify-phone?vfCode="+classInstance.viewModel.otp()+"&vfData="+classInstance.viewModel.phoneNum()+"&phoneNum="+phoneNum,{},"JSON",function(data){
          if(httpUtils.checkStatus(data,true,true)){
             classInstance.viewModel.isVisibleOtp(false);
            classInstance.viewModel.otp("");
        }
      })
     },
     closeOtp: function(){
      classInstance.viewModel.isVisibleOtp(false);
    },
     removeSpecialtiy : function(data){
      classInstance.viewModel.specialities.remove(data)
      classInstance.updateUserProfile("specialities","",data,false)
     },
     getDistressInfo : function(id,distress){
      var str=""
        var checkedDistressData = classInstance.viewModel.checkedDistress();
        
        if(distress){
        
          checkedDistressData = distress;
        }
        
        if(!checkedDistressData){
          return str;
        }
        var checkedDistressObj =  checkedDistressData[id];

        if(checkedDistressObj){
          for(var k=0;k<checkedDistressObj.length;k++){
            str=str+'<a class="ui horizontal label">'+checkedDistressObj[k].bhk+'BHK</a>'
          }
        }
       return str;
     },   
      leadsPageObj :{
        start:ko.observable("0"),
        pageSize:ko.observable("10"),
        hasMore:ko.observable("false"),
        showPrevious:ko.observable("false")
      },
      nextLeads : function(){
         classInstance.listLeads(true);
      },
      formateDate:function(date){
          var then = new Date(date);
          return then.getDate()+" - "+(then.getMonth()+1)+" - " +then.getFullYear();
       },
      previousLeads : function(){
        
        if(this.leadsPageObj.start() >= this.leadsPageObj.pageSize()){
          this.leadsPageObj.start(this.leadsPageObj.start()-this.leadsPageObj.pageSize()) 
        }
         classInstance.listLeads(true,true);
      },
      markDistress : function(id){

        var distressArr = new Array();
        var distress = classInstance.viewModel.distress();
        for(var i =0 ; i<distress.length ;i++){
          if(distress[i].checked){
            distressArr.push(distress[i])
          }
        }

        classInstance.markDistressF(distressArr,id)
      },
      listLastVisited: function(){
      
        classInstance.listLastVisited();
      },
      editBhk : function(index){
       
        var pro = classInstance.viewModel.associatedProjects()[index()];
        console.log(pro)
        classInstance.viewModel.currContext(pro.id)
        classInstance.viewModel.distress([])
        var bhk = pro.bhk;
        var checkedDistressData = classInstance.viewModel.checkedDistress();
        var checkedDistressObj =  new Array();
        if(checkedDistressData){
          checkedDistressObj =  checkedDistressData[pro.id]
        }
        if(bhk){
           for (var i=0 ; i<bhk.length;i++){
          
          if(checkedDistressObj){
            var distressPro = {"bhk":bhk[i],"price":0,"checked":false};
            for(var k=0;k<checkedDistressObj.length;k++){
            
              if(checkedDistressObj[k] && checkedDistressObj[k].bhk == bhk[i]){
               distressPro.checked = true;
                distressPro.price = checkedDistressObj[k].price;  
                //break;
              } 
            }
             classInstance.viewModel.distress.push(distressPro) 
          } else{
            classInstance.viewModel.distress.push({"bhk":bhk[i],"price":"","checked":false})
        }
      }
        }else{
          classInstance.viewModel.currContext("")
        }
      
      }
     
    }

    <%for(var i=0;i<result.specialities.length;i++){ %>
      classInstance.viewModel.specialities.push('<%= result.specialities[i] %>');
    <%} %>
    ko.applyBindings(classInstance.viewModel,document.getElementById('adminProfile')) 
    classInstance.listAssociatedProjects();
   //classInstance.listAllProjects();
    classInstance.listAssociatedLocations();
   // classInstance.listAllLocations();
    classInstance.listLeads(false);

    $(document).off('change','._dBhk')
    $(document).on('change','._dBhk',function(){
      $(this).siblings('._dPrice').val('');
    })
    $('._city_').dropdown({
      onChange:function(value, text, $choice){
         value = value.replace(/&nbsp;/gi,'')
        classInstance.viewModel.city(value)
      }
    })
    $('._dDown').dropdown({
        onChange: function(value, text, $selectedItem) {
            var _false= false;
            if(classInstance.viewModel.specialities().indexOf(value)==-1){
                classInstance.viewModel.specialities.push(value)
                classInstance.updateUserProfile("specialities","",value,true)
            }else{
                var obj={
                    status:1,
                    heading:"Specialities",
                    content:value+" specialities already exists",
                    result:[]
                }
                httpUtils.checkStatus(obj,false,true,null,obj);
            }
        }
    });
    $(document).off('click','._bhk_')
    $(document).on('click','._bhk_',function(){

      $(this).parent().find('._dis_').toggleClass('_hidden_')
    })
    
    $(document).off('click','#_reset_btn')
    $(document).on('click','#_reset_btn',function(){
      location.href="/irx/reset"
    })

    $("#__searchPro").autocomplete({

            source: function(request, response){
                var _self = this;
                classInstance.viewModel.projects([])
              classInstance.getProjectListingAutocomplete(request.term,request,response)
              },
              minLength: 2,
              dataType: "json",
              cache: false,
              select: function( event, ui ) {
                 
              }
              });
    $("#__searchLoc").autocomplete({

            source: function(request, response){
                var _self = this;
                classInstance.viewModel.projects([])
              classInstance.getLocationListingAutocomplete(request.term,request,response)
              },
              minLength: 2,
              dataType: "json",
              cache: false,
              select: function( event, ui ) {
                 
              }
              });
  }
 
  AdminProfile.prototype.removeAssociatedProject = function(index,id) {
    var classInstance = this;
    var obj = {}
  
    httpUtils.get('/delete-project/'+id,obj,"JSON",function(data){
       if(httpUtils.checkStatus(data,true,true)){
         classInstance.viewModel.associatedProjects.remove(function(item){
          return item.id == id;
        });
      } 
    })
 }
 
  AdminProfile.prototype.removeAssociatedLocation = function(index,id) {
      var classInstance = this;
      var obj = {}
    
      httpUtils.get('/delete-location/'+id,obj,"JSON",function(data){
         if(httpUtils.checkStatus(data,true,true)){
           classInstance.viewModel.associatedLocations.remove(function(item){
            return item.id == id;
          });
        } 
      })
   }

   AdminProfile.prototype.deleteLead = function(id) {
   
      var classInstance = this;
      var obj = {}
    
      httpUtils.get('/lead-delete/'+id,obj,"JSON",function(data){
         if(httpUtils.checkStatus(data,true,true)){
           classInstance.viewModel.leads.remove(function(item){
            return item.id == id;
          });
        } 
      })
   }
  AdminProfile.prototype.getProjectListingAutocomplete=function(text,request,response){
      var classInstance = this;

      httpUtils.get("/project-autocomplete",
        {"text":text,"city":classInstance.viewModel.city},"JSON",function(data){
            classInstance.viewModel.projects([]);
        if(data.status==0){
           var arr = new Array();
          for(var i=0;i<data.result.length;i++){
              var name ="",nameValue='';
              var item = data.result[i];
            if(item.highlight && item.highlight.name && item.highlight.name.length > 0){
               name = item.highlight.name[0]
               if(name && name != null){
                  name  = name.replace(/<(?:.|\n)*?>/gm, '');
               }
            }else{
              name = item.fields.name
            }
            nameValue=(item.fields.name?item.fields.name[0]:'');
            var location ={}
            if(item.fields['location.city'] &&  item.fields['location.city'].length >0){
              var lCity = item.fields['location.city'];
              location.city = lCity[0];
            }
           
           var locationName ={}
           
            if(item.fields['location.name'] &&  item.fields['location.name'].length >0){
              var lName = item.fields['location.name'];

              locationName = lName[0];
              location.name=lName[0];
            }
            var productType =""
            if(item.fields.productType &&  item.fields.productType.length >0){
              productType = item.fields.productType[0];
            }
             var builderName =""
            if(item.fields.builderName &&  item.fields.builderName.length >0){
              builderName = item.fields.builderName[0];
            }
            var dataPro = {id:item.fields.id[0],name:name,location:location,productType:productType,locationName:locationName,real:nameValue,"builderName":builderName};
            arr.push(dataPro)
          }
        ko.utils.arrayPushAll(classInstance.viewModel.projects,arr)
        }
    })
    }
    AdminProfile.prototype.getLocationListingAutocomplete=function(text,request,response){
      var classInstance = this;
      httpUtils.get("/project-autocomplete",{"text":text,"city":classInstance.viewModel.city,"type":"location"},"JSON",function(data){
        classInstance.viewModel.locations([]);
        if(data.status==0){
           var arr = new Array();
          for(var i=0;i<data.result.length;i++){
              var name ="",nameValue='';
              var item = data.result[i];
            if(item.highlight && item.highlight.name && item.highlight.name.length > 0){
               name = item.highlight.name[0]
               if(name && name != null){
                  name  = name.replace(/<(?:.|\n)*?>/gm, '');
               }
            }else{
              name = item.fields.name
            }
            nameValue=(item.fields.name?item.fields.name[0]:'');
            var location ={}
            if(item.fields['location.city'] &&  item.fields['location.city'].length >0){
              var lCity = item.fields['location.city'];
              location = lCity[0];
            }
           
           var locationName ={}
           
            if(item.fields['location.name'] &&  item.fields['location.name'].length >0){
              var lName = item.fields['location.name'];

              locationName = lName[0];
            }
            var productType =""
            if(item.fields.productType &&  item.fields.productType.length >0){
              productType = item.fields.productType[0];
            }
             var builderName =""
            if(item.fields.builderName &&  item.fields.builderName.length >0){
              builderName = item.fields.builderName[0];
            }
            var dataPro = {id:item.fields.id[0],name:name,location:location,productType:productType,locationName:locationName,real:nameValue,"builderName":builderName};
            arr.push(dataPro)
          }
        ko.utils.arrayPushAll(classInstance.viewModel.locations,arr)
        }
     
    });
  };

  AdminProfile.prototype.associateProject = function(id) {
    var classInstance = this;
    var obj = {}
    
    httpUtils.get('/associate-project/'+id,obj,"JSON",function(data){
        var obj={ status:data.status,
              heading:"Login Failed",
              content:"Please check your login credentials" 
            }
       if(httpUtils.checkStatus(data,true,true)){
          classInstance.viewModel.associatedProjects.push(data.result);
       } 
    })
  }

  AdminProfile.prototype.associateLocation = function(id) {
    var classInstance = this;
    var obj = {}
    httpUtils.get('/associate-location/'+id,obj,"JSON",function(data){
       if(httpUtils.checkStatus(data,true,true)){
           classInstance.viewModel.associatedLocations.push(data.result);
       } 
    })
  }

  AdminProfile.prototype.markDistressF = function(distress,projectId) {
    var classInstance = this;
    var distressData={};
    distressData[projectId]=distress;

    var classInstance = this;
     httpUtils.post("/mark-distress/"+projectId,
      distressData,
      {},"JSON",function(result){
        if(httpUtils.checkStatus(result,true,true)){

          var str= classInstance.viewModel.getDistressInfo(projectId,distressData);
         
          classInstance.viewModel.checkedDistress()[projectId]=distress
          
          $('.content[data-id='+'"'+projectId+'"'+']').find('._dInfo_').html(str)
          classInstance.viewModel.currContext("")

        }
      })
  };

  AdminProfile.prototype.listLeads = function(replace,previous) {
    var classInstance = this;
    var pagenation ={
      start:classInstance.viewModel.leadsPageObj.start(),
      pageSize:classInstance.viewModel.leadsPageObj.pageSize()
    }
    httpUtils.get('/leads',{page:pagenation},"JSON",function(data){
       if(data.status==0){
        //if(replace){
          classInstance.viewModel.leads([])
        //}
        ko.utils.arrayPushAll(classInstance.viewModel.leads,data.result)
        if(classInstance.viewModel.leadsPageObj.start() !=0){
          
          classInstance.viewModel.leadsPageObj.showPrevious(true)
        }else{

           classInstance.viewModel.leadsPageObj.showPrevious(false)
        }
        
        if(!previous && data.page.hasMore){
          
          classInstance.viewModel.leadsPageObj.start( Number(data.page.start)+Number(data.page.pageSize));
  
        }
        
        classInstance.viewModel.leadsPageObj.hasMore(data.page.hasMore);
       } 
    })
  }

  AdminProfile.prototype.listAssociatedProjects = function() {
    
    var classInstance = this;

    httpUtils.get("/list-user-projects/"+classInstance.userId,{},"JSON",function(data){
       if(data.status==0){
        if(data.result != null){
          console.log(data.result.distress)
         classInstance.viewModel.checkedDistress(data.result.distress);
          ko.utils.arrayPushAll(classInstance.viewModel.associatedProjects,data.result.projects)
         classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        }
        } 
    })
  }
  
  AdminProfile.prototype.listLastVisited = function() {
    
    var classInstance = this;

    httpUtils.get("/last-visited",{},"JSON",function(data){
       if(data.status==0){
        if(data.result != null){
          classInstance.viewModel.lastVisited([])
          ko.utils.arrayPushAll(classInstance.viewModel.lastVisited,data.result)
        }
        
       // classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
      
       } 
    })
  }
  AdminProfile.prototype.listAssociatedLocations = function() {
    
    var classInstance = this;

    httpUtils.get("/list-user-locations/"+classInstance.userId,{page:classInstance.page},"JSON",function(data){
       if(data.status==0){
        ko.utils.arrayPushAll(classInstance.viewModel.associatedLocations,data.result)
        classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
      
       } 
    })
  }
   AdminProfile.prototype.resetPage = function() {
   var classInstance = this;
   classInstance.start=0;
  }
   AdminProfile.prototype.resetLeadsPageObj = function() {
   var classInstance = this;
   classInstance.viewModel.resetLeadsPageObj.start(0);
  }
  AdminProfile.prototype.checkAndUpdateUserName = function() {
   var classInstance = this;
   var text = classInstance.viewModel.id();
   httpUtils.get('/check-userName/'+text,{},"JSON",function(data){
        var updateUserNameObj={
          status:data.status,
          heading:"Username updated"
        }
       if(data.status==0){
          profileClose('_unUserName_');
          updateUserNameObj.content="Congratualtions!!! Your username has been successfully updated.";
       }else{
          updateUserNameObj.content="This name is already occupied by another user. Please choose another Username.";
       } 
       httpUtils.checkStatus(data,true,true,updateUserNameObj,updateUserNameObj);
    });
  }
  
   AdminProfile.prototype.listAllProjects = function() {
    var filters ={"filters":{"productType":"project"}}
   var classInstance = this;
      httpUtils.post("/list-projects-elastic",filters,{},"JSON",function(data){
         if(data.status==0){
         ko.utils.arrayPushAll(classInstance.viewModel.projects,data.result)  
         classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
         
        }
    })
  }
  AdminProfile.prototype.listAllLocations = function() {
  var filters ={"filters":{"productType":"location"}}
   var classInstance = this;
      httpUtils.post("/list-projects-elastic",filters,{},"JSON",function(data){
         if(data.status==0){
         ko.utils.arrayPushAll(classInstance.viewModel.locations,data.result)  
         classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
         
        }
    })
  }
  AdminProfile.prototype.updateUserProfile = function(item,self,value,add) {
    
    var classInstance = this;
    var obj = {};
    if(item=='location'){
      obj.location = {"name":classInstance.viewModel.location.name,
                       "city":classInstance.viewModel.location.city,
                       "state":classInstance.viewModel.location.state };
    } else if(item=='specialities'){
      obj[item] = value;
      if(add){
        obj["add"]=true
      }else{
        obj["add"]=false
      }
    } else{
      obj[item] = classInstance.viewModel[item]();
    }
      httpUtils.post("/update-user",obj,{},"JSON",function(data){
        if(data.status==0){
           if(item=='specialities'){
            return;
          }

          if(item=='location' || item=='companyName'|| item=='phoneNum'){
            locationClose(self);
            if(item=='phoneNum'){
                classInstance.viewModel.isVisibleOtp(true);
            }
          } else if(item=='phoneNum'){
            profileClose(self)

             $('.compact.button')
                .popup({
                  inline: true,
                  on    : 'click',
                  position: 'bottom left'
                })
              ;
          } else{
            profileClose(self);
          }
        }
    })
  }

  $(document).ready(function(){
    var adminProfile = new AdminProfile();
    adminProfile.init();
    var city = localStorage.getItem("city");
  if(city){
    
    adminProfile.viewModel.city(city)
  } else{
    
    adminProfile.viewModel.city("Gurgaon")
  }
  })
  </script>


  <% include ../partials/footer.html.ejs %>

</body>
