<!-- Fixed header and search menu place here -->

<style>
  .ui.mobile.dropdown.link.item>i {
    padding:1rem;
  }
  .item:before {
    background:inherit !important;
  }
</style>
<% locals.hosturl = "https://facebook.com/" %>
<div id="home" class="ui top fixed menu">

  <!-- For mobile screens only -->

  <% if(!locals.req.device || locals.req.device.type != 'desktop'){ %>

      <div id="header" class="ui inverted menu">
        <a class="header item _logo_" href="/irx/home">IRX</a>
        <div class="ui dropdown">         
          <div class="item">Select</div>
          <i class="dropdown icon item" style="padding: 0 !important;"></i>
          <div class="menu">
            <a class="item _link" href="/project-listing">Projects</a>
            <a class="item _link" href="/agent-listing">Agents</a>
            <a class="item _link" href="">Locations</a>
          </div>
        </div>       
        <div class="right menu">
         
          <% if(locals.session.user) {%>
            <div class="ui dropdown">
              <a class="item"><%= locals.session.user.name %></a>
              <i class="dropdown icon item" style="margin: .5rem 0 0 !important;"></i>
              <div class="menu">
                <a class="item" href="/admin/profile/<%= locals.session.user.irxId %>"><i class="setting icon"></i>Settings</a>
                <div class="item"><i class="sign out icon"></i>Logout</div>
              </div>
              <input id="__sess_name" value="<%= locals.session.user.name %>" type="hidden">
              <input id="__sess_emailId" value="<%= locals.session.user.userId %>" type="hidden">
              <input id="__sess_irxId" value="<%= locals.session.user.name %>" type="hidden">
            </div>
            <% }%>
            <% if(!locals.session.user){ %>
                 <a class="item log-in"><i class="user icon"></i></a>
            <% }%>
            <a class="item"><i class="content icon toggle button"></i></a>
        </div>
      </div>

  <% } %>

  <!-- For desktop only -->

<% if(locals.req.device && locals.req.device.type == 'desktop'){ %>

  <div id="header" class="ui inverted menu _desktop_">
    <a class="header item _logo_" href="/irx/home">IRX</a>
    <a class="item _link" href="/project-listing">PROJECTS</a>
    <a class="item _link" href="/agent-listing">AGENTS</a>
    <div class="right menu">
      <div class="ui mobile dropdown link item" tabindex="0" style="padding:0;">
        <i class="user icon log-in"></i>
       <i class="content icon toggle button"></i>
      </div>
      <a class="item sell-in">Sell your property</a>
      <a class="item _post post-in">Post your requirement
       </a>
      <% if(locals.session.user) {%>
        <div class="ui dropdown">
          <div class="item"><%= locals.session.user.name %></div>
          <i class="dropdown icon item" style="margin: .5rem 0 0 !important;"></i>
          <div class="menu">
            <a class="item" href="/admin/profile/<%= locals.session.user.irxId %>"><i class="setting icon"></i>Settings</a>
            <div class="item" id="_logout_"><i class="sign out icon"></i>Logout</div>
          </div>
          <input id="__sess_name" value="<%= locals.session.user.name %>" type="hidden">
          <input id="__sess_emailId" value="<%= locals.session.user.userId %>" type="hidden">
          <input id="__sess_irxId" value="<%= locals.session.user.name %>" type="hidden">
        </div>
        <% }%>
        <% if(!locals.session.user){%>
          <a class="item log-in"><i class="user icon"></i>Login</a>
        <% }%>
     
      <a class="item"><i class="content icon toggle button"></i></a>
    </div>
  </div> 
<% } %>


  <% include ../popups/sidebar.html.ejs %>
  <% include ../popups/login.html.ejs %>
  <% include ../popups/sell-ur-property.html.ejs %>
  <% include ../popups/post-ur-req.html.ejs %>
  <% include ../popups/post-ur-req-agent.html.ejs %>
  <% include ../popups/leads.html.ejs %>
  <% include ../popups/request-details.html.ejs %>
 
  <% include ../popups/error.html.ejs %>
  <% include ../popups/success.html.ejs %>
  <% include ../popups/adv-search-filter.html.ejs %>
  <% include ../popups/contact-info.html.ejs %>
  <!-- Header ends here -->
<% if(locals.uiContext && locals.uiContext.menu) {%>

    <% include ../partials/searchbar.html.ejs %>
    <% include ../popups/locality-pop-up.html.ejs %>
<% } %>
</div>