<!-- Fixed header and search menu place here -->
<style>
  .ui.mobile.dropdown.link.item>i {
    padding:1rem;
  }
  .item:before {
    background:inherit !important;
  }
</style>
<% locals.hosturl = "https://facebook.com/" %>
<div id="home" class="ui top fixed menu">
<% if(locals.session.user) {%>
<input id="__sess_name" value="<%= locals.session.user.name %>" type="hidden">
<input id="__sess_emailId" value="<%= locals.session.user.userId %>" type="hidden">
<input id="__sess_irxId" value="<%= locals.session.user.name %>" type="hidden">
<input id="__sess_type" value="<%= locals.session.user.type %>" type="hidden">
<%}%>
  <!-- For mobile screens only -->

  <% if(locals.req.device && locals.req.device.type != 'desktop'){ %>

      <div id="header" class="ui inverted menu">
        <div class="header item _logo_ content icon toggle button" href="/irx/home">IRX</div>
        <div class="ui dropdown">         
          <div class="item"><%=(locals.searchType && locals.searchType=='agent')?'Agents':'Projects'%></div>
          <i class="dropdown icon item" style="padding: 0 !important;"></i>
          <div class="menu" style="left: -40px;">
            <a class="item _link" href="/project-listing">Projects</a>
            <a class="item _link" href="/agent-listing">Agents</a>
            <a class="item _link" href="">Locations</a>
           

          </div>
        </div>       
        <div class="right menu">
         
            <% if(!locals.session.user){ %>
                 <a class="item log-in"><i class="user icon"></i></a>
            <% }%>
        </div>
      </div>

  <% } %>

  <!-- For desktop only -->

<% if(!locals.req.device || locals.req.device.type == 'desktop'){ %>

  <div id="header" class="ui inverted menu _desktop_">
    <a class="header item _logo_" href="/irx/home">IRX</a>
    <a class="item _link" href="/project-listing">PROJECTS</a>
    <a class="item _link" href="/agent-listing">AGENTS</a>
     <a class="item _link" href="">Under Data Preperation</a>
    <div class="right menu">
      <div class="ui mobile dropdown link item" tabindex="0" style="padding:0;">
        <i class="user icon log-in"></i>
       <i class="content icon toggle button"></i>
      </div>
      <a class="item sell-in">Sell your property</a>
      <a class="item _post post-in">Post your requirement
       </a>
      <% if(locals.session.user) {%>
        <div class="ui dropdown">
          <div class="item"><%= locals.session.user.name %></div>
          <i class="dropdown icon item" style="margin: .5rem 0 0 !important;"></i>
          <div class="menu" style="left: -70px;top: 50px;">
               <% if(locals.session.user.type=="agent"){ %>
            <a class="item" href="/admin/profile"><i class="setting icon"></i>Settings</a>
              <%}%>
            <a class="item" href="/irx/reset"><i class="undo icon"></i>Reset Password</a>
            <div class="item" id="_logout_"><i class="sign out icon"></i>Logout</div>
          </div>
         
        </div>
        <% }%>
        <% if(!locals.session.user){%>
          <a class="item log-in"><i class="user icon"></i>Login</a>
        <% }%>
     
      <a class="item"><i class="content icon toggle button"></i></a>
    </div>
  </div> 
<% } %>
  <% include ../popups/sidebar.html.ejs %>
  <!-- Header ends here -->
<% if(locals.uiContext && locals.uiContext.menu) {%>

    <% include ../partials/searchbar.html.ejs %>
    <% include ../popups/locality-pop-up.html.ejs %>
<% } %>
</div>
