<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <style type="text/css">
  /*.sc { 
  	height: 500px; 
  	width: 500px; 
  	overflow: scroll;
  }*/
  </style>
</head>
<% locals.uiContext.menu=true %>
<body class="<%="irx-"+(locals.req.device.type)%>">

  <% include ../partials/header.html.ejs %>

  <!-- agents Listing goes here -->

  	<div id="agentContent" class="ui centered page grid">
	  <div class="twelve wide column">

	  	<!-- For mobile and tablet -->

	  		<div class="ui grid rib-head mobile tablet only">
		    	<h2 class="ui header">Showing results for

	    		<a data-bind="text:filters.displayName"></a>
	    	
	    		<span data-bind="text :start">20</span> out of <span data-bind="text :total">50</span></a></h2>
		    	<div class="ui grid">  
				  <div class="row centered aligned">
				    <div class="header right menu">
			    		<div class="ui checkbox" style="margin:0 2rem;">
					    	<input type="checkbox">
					    	<label>Distress</label>
					    </div>
						<div class="ui basic button">submit request</div>
			    	</div>
				  </div>
				</div>
		    </div>

	  	<!-- ends here -->

	  	<div class="ui grid two column rib-head computer only">
			<h2 class="ui header column" style="margin-top:1em">AGENTS</h2>	  		
    		<!--<h2 class="ui header "> Showing results -->  <!-- for

    		<a data-bind="text:filters.displayName"></a>
    	
    		<span data-bind="text :start">20</span> out of <span data-bind="text :total">50</span></a> </h2>-->
	    	
	    	<div class="header column right menu">
	    		<!-- <div class="ui checkbox">
			      <input type="checkbox">
			      <label>Distress</label>
			    </div> -->
				<div class="ui basic button" id="_subReq_"> Ask to top 5 agents</div>
	    	</div>
	    </div>
	    <% if (requestObj.name!=null && requestObj.name!='') {%>
		    <div class="_filters_">

		    	<span class="ui teal label"><%= requestObj.name?requestObj.name:'' %> <i style="margin-right: 0;" onclick="agent.resetAgent(this)"; class="remove icon"></i></span>
		  	</div>
		  	<% }%>
	    <div class="ui cards sc" data-bind="foreach : agents">

		  <div class="card">
		    <div class="ui image tiny">
		      <img src="/images/elliot.jpg">
		    </div>
		    <div class="content">

		      <a data-bind="attr: { href:irxId}"><div class="header" data-bind="text : name">Elliot Fu</div></a>
		      <a class="group" data-bind="text : companyName" style="color:rgba(0,0,0,0.6);">IRX India</a>

		      <div class="content addr-ess">
    			<i class="map marker icon"></i><span data-bind="text : location.city"> Sector 22B,Gurgaon</span>
    		  </div>
		      <div class="description">
		        Projects : 
		        <span class="_cmpnyName" data-bind="foreach : projects" style="margin-right:0;">
			        <!-- ko if:$index()<=2 -->
			        	<!-- ko if:$index()!=0 -->
			        	 	<span class="header">,</span>
			        	 <!-- /ko -->
			        	<span class="header" data-bind="text : $data"></span>
			        <!-- /ko -->
			    </span>
		        <span data-bind="if:projects.length>3">
		        (+
		        	<span class="header" data-bind="text : projects.length-3"></span>)
		        </span>
		       </div>
		       <div class="description">
		        Operating Localities : 
		        <span class="_locProj" data-bind="foreach : locationProjects" style="margin-right:0;">
			        <!-- ko if:$index()<=2 -->
			        	<!-- ko if:$index()!=0 -->
			        	 	<span class="header">,</span>
			        	<!-- /ko -->
			        	<span class="header" data-bind="text : $data"></span>
			        <!-- /ko -->
			    </span>
		        <span data-bind="if:locationProjects.length>3">
		        (+
		        	<span class="header" data-bind="text : locationProjects.length-3"></span>)
		        </span>
		       </div>
		    </div>
		    <!-- <div class="inline field" data-bind="click:function(){$parent.addAgent(name,irxId)}">
			    <div class="ui checkbox">
			    	<input type="checkbox">
			    	<label></label>
			    </div>
		    </div> -->
		    <div class="extra content">
		    	<a href=""><i class="facebook square icon"></i></a>
				<a href=""><i class="share square icon"></i></a>
				<div class="right floated created">
					<div class="ui label _subReqI_" style="cursor:pointer;" data-bind="click:function(){$parent.addAgent(name,irxId,companyName)}">Enquiry</div>
				</div>
		      <!--<a class="friends">
		        <i class="building icon" data-bind="text:projectCounter">&nbsp;</i>
		         &nbsp;&nbsp;Projects
		      </a><a class="friends">
		        <i class="location arrow icon"></i>
		        22 Locations
		      </a>-->
		    </div>
		  </div>
		  <input type="hidden" id="__filterName" value="<%= requestObj.name?requestObj.name:'' %>">
		  <input type="hidden" id="__filterBhk" value="<%= requestObj.bhk?requestObj.bhk:'' %>">
		  <input type="hidden" id="__filterType" value="<%= requestObj.type?requestObj.type:'' %>">
		  <input type="hidden" id="__projectIdFilter" value="<%= requestObj.projectId?requestObj.projectId:'' %>">
		  <input type="hidden" id="__locationFlag" value="<%= requestObj.isLocality?requestObj.isLocality:'' %>">
					  
		</div>	   
		<div data-bind="scroll: true, scrollOptions: { loadFunc: addSome, offset: 10 }"></div>
	  </div> 
	    
	</div>
	<script type="text/javascript">
	function Agent(options){
		this.page = {
			start : 0,
			pageSize : 10
		}
		this.agentIds = [];
	}
	Agent.prototype.init = function() {
		var _classInstance = this;
		_classInstance.aPostReqViewModel = common.getViewModel('postAgent');
		common.aPostReqViewModel = _classInstance.aPostReqViewModel;
		ko.applyBindings(_classInstance.aPostReqViewModel,document.getElementById("_postA_"));
		
		ko.bindingHandlers.scroll = {

		  updating:true,
		  
		  init: function(element, valueAccessor, allBindingsAccessor) {
		  	 
		      var self = this
		      self.updating =(true);
		      ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
		            $(window).off("scroll.ko.scrollHandler")
		            self.updating= (false); 
		      });
		      $(element).append('<div id="_sc_more" style="height:100px;display:none" hasMore="true"></div>');
		      $(element).on('__sc__more', function(e,flag){
				  	 var ele_more = $('#_sc_more');
				  	 if(typeof(flag) == "undefined"){
				  	 	return ele_more.attr("hasMore")=='true';
				  	 }else{
				  	 	if(flag){
				  	 		ele_more.show();
				  	 	}else{
				  	 		ele_more.hide();
				  	 	}
				  	 	ele_more.attr("hasMore",flag);
				  	 	return flag;
				  	 }
				  })
		  		},

		  update: function(element, valueAccessor, allBindingsAccessor){
		    var props = allBindingsAccessor().scrollOptions
		    var offset = props.offset ? props.offset : "0"
		    var loadFunc = props.loadFunc
		    var load = ko.utils.unwrapObservable(valueAccessor());
		    var self = this;

		    if(load){
		      element.style.display = "";
		      $(window).on("scroll.ko.scrollHandler", function(){
		      	
		        if(($(document).height() - offset <= $(window).height() + $(window).scrollTop())){
		          if(self.updating){
		          	
		          	self.updating =(false);

		            _classInstance.listAgents(false,function(success){
		            	
		            	self.updating=success;
		            	$(element).trigger('__sc__more',success)
		            })
		          }
		        }
		       
		      });
		    }
		    else{
		        element.style.display = "none";
		        $(window).off("scroll.ko.scrollHandler")
		        self.updating = false
		    }
		  }
		 }
		 var filterName = $('#__filterName').val()
		 if(typeof(filterName) == "undefined" || filterName == null ){
		 	filterName = "";
		 }
		 var filterBhk = $('#__filterBhk').val()
		 if(typeof(filterBhk) == "undefined" || filterBhk == null ){
		 	filterBhk = "";
		 }
		  var filterType = $('#__filterType').val()
		 if(typeof(filterType) == "undefined" || filterType == null ){
		 	filterType = "";
		 }
		 var projectIdFilter = $('#__projectIdFilter').val()
		 if(typeof(projectIdFilter) == "undefined" || projectIdFilter == null ){
		 	projectIdFilter = "";
		 }
		 var locationFlag = $('#__locationFlag').val();
		 if(typeof(locationFlag) == "undefined" || locationFlag == null ){
		 	locationFlag = "";
		 }
		_classInstance.viewModel = {
			agents: ko.observableArray(),
			filters:{
				name: ko.observable(filterName),
				type: ko.observable(""),
				bhk: ko.observable(filterBhk),
				displayName: ko.observable("All"),
				projectId: ko.observable(projectIdFilter),
				location: ko.observable(locationFlag) 
			},
			start: ko.observable(),
			total: ko.observable(),
			addSome : function(){
				//_classInstance.listAgents(true);
			},
			addAgent:function(name,id,companyName){
				var agent={"name":name,"id":id,"companyName":companyName,"irxId":id}

				_classInstance.agentIds=[];
				
		        _classInstance.agentIds.push(agent)
		        
		     }
		}
		$(document).off('click','#_subReq_')
		$(document).on('click','#_subReq_',function(){

			var arr = _classInstance.agentIds;
			//alert(1)
			//ko.utils.arrayPushAll(_classInstance.aPostReqViewModel.data.agentId,arr);
			//console.log("yo !!",_classInstance.aPostReqViewModel.data.agentId())
			 _classInstance.agentIds=[];
			 _classInstance.aPostReqViewModel.data.agentId([])
			 // $('#_postA_').find('form').form('reset')
			$('#_postA_').modal({
			      closable:false
			    }).modal('show');

			})
		$(document).off('click','._subReqI_')
		$(document).on('click','._subReqI_',function(){

			var arr = _classInstance.agentIds;
			_classInstance.aPostReqViewModel.data.agentId([])
			ko.utils.arrayPushAll(_classInstance.aPostReqViewModel.data.agentId,arr);
			//console.log("yo !!",_classInstance.aPostReqViewModel.data.agentId())
			 
			$('#_postA_').modal({
			      closable:false
			    }).modal('show');
			})
		 
		 ko.applyBindings(_classInstance.viewModel,document.getElementById("agentContent"));
		
		_classInstance.listAgents(true);
	}
	
	Agent.prototype.listAgents = function(replace, setUpdate) {
    	var classInstance = this;
    	if(classInstance.viewModel.filters.projectId() != ""){
    		 
           httpUtils.get("/prefered-agents/"+classInstance.viewModel.filters.projectId(),
            {"location":classInstance.viewModel.filters.location()}
            ,"JSON"
            ,function(result){
         		 classInstance.processResult(result,replace,setUpdate)
          })
    	}else {
    		httpUtils.post("/list-agents",{filters:classInstance.viewModel.filters,page:classInstance.page},{},"JSON",function(data){
	    		classInstance.processResult(data,replace,setUpdate)
	      })
    	}
	    
	 }
	Agent.prototype.processResult = function(data,replace,setUpdate) {
	 	var classInstance=this;
	 	if(data.status==0){
	       	if(typeof(replace) != undefined && replace){
	       		classInstance.viewModel.agents([]);
	       	} 
	       	ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)
	       	if(data.page != null){
	       		if(classInstance.page.start==0){
	       			classInstance.viewModel.total(data.page.total) ;
		       	}
	       		classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	       		classInstance.viewModel.start(Number(data.page.start)+Number(data.result.length)) ;
				if(setUpdate){
	       			setUpdate(data.page.hasMore)
	       		}
	       	}
	   }
	}
	Agent.prototype.renderResult = function(data,filters) {
		
		var classInstance = this;  
		classInstance.viewModel.agents([]);
		if(filters){
			classInstance.viewModel.filters.name(filters.name);
			classInstance.viewModel.filters.projectId(filters.projectId);
			classInstance.viewModel.filters.displayName(filters.name);
		}
		if(data && data.result){
			classInstance.viewModel.agents([])
			ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)
		}	
		$('.doubling.two.column.row').hide();
		if(data.page != null){
			classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        classInstance.viewModel.start(classInstance.page.start) ;
        classInstance.viewModel.pageSize=data.page.pageSize;
		}
		

	};
	Agent.prototype.resetAgent=function(_self){
		var classInstance =this;
		classInstance.viewModel.filters.name('');
		classInstance.viewModel.filters.projectId('');
		classInstance.page.start=0;
		if(_self){
			$(_self).parent().remove();
		}
		classInstance.listAgents(true);
	};
	var agent = null;
	$(document).ready(function(){
	  
	    agent = new Agent();
	    agent.init();
	    
	  })
	</script>
  <% include ../partials/footer.html.ejs %>
</body>