<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>  
</head>
<style type="text/css">
	.mobileFilter.ui.menu {
		background: inherit !important;
		box-shadow: none !important;
	}

	.mobileFilter.ui.menu>.item {
		display: block !important;
	}
	#HideFilter {
		display: none;
	}

	.ui.header .icon:only-child {
	  display: inline-block;
	  padding: 0;
	  margin-right: .5rem;
	  vertical-align: baseline;
	  font-size: medium;
	}
	.proj-listing h5.ui.header {
	  padding-left: 1.2rem;
	  opacity: .8;
	  font-weight: 400;
	  color: #747474;
	}

	.tempBtn {
	  float: right;
  	  border: 1px solid #ddd;
  	  padding: 7px 10px;
      background: #fff;
	}
	._hide_ {
		display:none;
	}
	/*.proj-listing ._actButtons>.ui.basic.button {
	  border: 0 !important;
	  border-radius: 0 !important;
	   box-shadow: 0 0 0 !important; 
	  background-color: #f4f4f4 !important;
	  color: #607d8b !important;
	  transition: all ease .2s;
	  padding: .75rem;
	  font-weight: 400;
	  width: 11rem;
	  margin: 0 .75rem .5rem 0;
	}*/

	.ui.items>.item>.content a {
	  color: #345D71 !important;
	  -webkit-transition: color .2s ease;
	  transition: color .2s ease;
	}
	.pDate {
		margin-right: 15px;
	}
	.extra.pDate{
		color: #838080;
        opacity: .8;
	}

	.ui.grid.rib-head.mobile.tablet.only .ui.selection.dropdown>.text {
		margin-right: .5rem !important;
	}
	.ui.grid.rib-head.mobile.tablet.only .eight.wide.column {
		padding:0;
		text-align: center;
	}
	.ui.grid.rib-head.mobile.tablet.only .sort.right.icon {
		float: right;
	}

	.pj-items.extra >.ui.horizontal.label{
		font-weight: 400;
		border-radius: 2px;
		color: #737373;

	.proContent {
		color: #607d8b !important;
		cursor: default !important;
	}
	.ui.table td {
	  padding: .4em 2.9em !important;
	  text-align: left;
	  vertical-align: middle;
	}
	.proj-listing ._actButtons>.ui.basic.button {
	  border: 0 !important;
	  border-radius: 0 !important;
	  /* box-shadow: 0 0 0 #000 !important; */
	  background-color: #f4f4f4 !important;
	  /* color: #607d8b !important; */
	  transition: all ease .2s;
	  padding: .75rem;
	  font-weight: 400;
	  width: 11rem;
	  margin: 0 .75rem .5rem 0;
	}
	.mobileFilter.ui.menu {
		background: inherit !important;
		box-shadow: none !important;
	}

	.mobileFilter.ui.menu>.item {
		display: block !important;
	}
	#HideFilter {
		display: none;
	}

	.ui.menu .item:before {
		background: linear-gradient(rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0) 100%);
	}

  </style>
  
</head>
<body class="<%="irx-"+(locals.req.device.type)%>">
	<% locals.uiContext.menu=true %>
  	<% include ../partials/header.html.ejs %>

  

<div id="projListing">
  	<div id="projectContent" class="ui centered page grid">
  		<% if(locals.req.device.type == 'desktop'){ %>
  			<div class="twelve wide column">
	  	<% } %>
	  
	  	
	  	<% if(!locals.req.device || locals.req.device.type != 'desktop'){ %>
	  		<div class="fourteen wide column" style="padding-top:0 !important;">
	  	<% } %> 
	  	<!-- For mobile screens -->

	  	<% if(!locals.req.device || locals.req.device.type != 'desktop'){ %>
			<div class="ui menu rib-head" style="border:0 !important;">
			<h2 class="ui header item">Showing results for
			<!--ko text: filters.displayName--><!--/ko-->       
			</h2>    
			<a class="right menu" style="padding:.5rem 0;">
			<div id="mobFilter" class="ui teal label"><i style="margin-right: 0;" class="icon filter"></i></div>
			<div id="HideFilter" class="ui teal label"><i style="margin-right: 0;" class="icon hide"></i></div>
			</a>
			</div>

			<div class="mobileFilter ui menu" style="display:none;">
			<div class="item">
			<div class="ui right labeled icon dropdown button">
			<input type="hidden" name="type" data-bind="value:filters.type, event: {  change:applyFilters }">
			<div class="default text">Property Type</div>
			<i class="angle down icon"></i>
			<div class="menu">
			<div class="item" data-value="all">All</div>
			<div class="item" data-value="apartments">Apartment</div>
			<div class="item" data-value="independent house">Independent House</div>
			<div class="item" data-value="villas">Villas</div>
			<div class="item" data-value="plot">Plot</div>
			<div class="item" data-value="row house">Row House</div>
			</div>
			</div>
			</div>
			<div class="item">
			<div class="ui right labeled icon dropdown button">
			<input type="hidden" name="status" data-bind="textInput:filters.status, event: {  change:applyFilters }">
			<div class="default text">Status</div>
			<i class="angle down icon"></i>
			<div class="menu">
			  <div class="item" data-value="all">All</div>
			  <div class="item" data-value="ongoing">ongoing</div>
			  <div class="item" data-value="completed">completed</div>
			  <div class="item" data-value="upcoming">upcoming</div>            
			</div>
			</div>
			</div>
			<div class="item">
			  <div class="ui right labeled icon dropdown button">
			  <input type="hidden" name="order" data-bind="value:filters.order, event: {  change:applyFilters }">
			  <div class="default text">Sort by relevance</div>
			  <i class="sort right icon"></i>
			  <div class="menu">
			    <div class="item" data-value="asc">Newest</div>
			    <div class="item" data-value="desc">Price : High to Low</div>
			    <div class="item" data-value="asc">Price : Low to High</div>            
			  </div>
			</div>
			</div>
			<div class="item">
			<div class="ui checkbox _hasDistress_">
			<input type="checkbox" name="distress">
			<label>Show Distress</label>
			</div>
			</div>


			</div>

			<div class="item tempBtn" style="float:right" data-bind="visible:filters.locationFlag()=='true'" >

			<a data-bind="attr:{href:'/agent-listing?projectId='+filters.projectId()+'&name='+filters.name()+'&isLocality=true'}">
			<div style="position:relative;right:0;color:#337ec8">Show agents</div>
			</a>
			</div>
			<% } %>
			<!-- ends here -->
	  	<% if(!locals.req.device || locals.req.device.type != 'desktop'){ %>
	  			
	  		<div id="mobile-listing" class="ui items" data-bind="foreach : projects">
	  			<div class="item">
					<div class="content">
						<div class="ui tiny image" style="padding: 0 .5rem 0 0 !important;width:auto !important;">
							  <img src="/images/project.jpg" style="width:80px;height:80px;">
							</div>
							<div class="content">
							  <div class="summary">
							    <a class="user"><b>
							      <i class="rupee icon"></i>
							      <!-- ko if:Array.isArray(priceText) -->
						          <!-- ko foreach:priceText -->
						            <!-- ko if:$index -->-<!-- /ko -->
						              <!-- ko if:$data != 0 -->
						                <!-- ko text:$data --><!-- /ko -->
						              <!-- /ko -->
						              <!-- ko if:$data == 0 -->
						                Not Available
						              <!-- /ko -->
						          <!-- /ko -->
						        <!-- /ko -->
						        <!-- ko if:!Array.isArray(priceText) -->
						          <!-- ko text:priceText --><!-- /ko -->
						        <!-- /ko --></b>
							    </a>
							</div>
						    <div class="date">
					           <span data-bind="foreach : bhk"><a class="proContent" href="javascript:void(0)" data-bind="text:$data"></a><a class="proContent" href="javascript:void(0)">BHK&nbsp;&nbsp;</a></span><span data-bind="text : type"></span>
					        </div>
							<div class="like _name_" data-bind="text : name"></div>
					        <div class="date" data-bind="text : builtUpArea">120 sq.ft</div>
						</div>
						<div class="meta">
				            <span data-bind="text : possession">Nov 17,2014</span>
				            <span data-bind="text : status">Nov 17,2014</span>
				        </div>
				        <a href="" class="item right floated" style="margin-top:-1.4rem"><i style="font-size:1.5em;" class="blue call square icon"></i></a>
					</div>
				</div>
	  		</div>

	  	<% } %> 
	  		
	  	<!-- ends here -->
	  	
	  	<% if(locals.req.device.type == 'desktop'){ %>
	  	<div class="ui menu rib-head">
	        <h2 class="ui header item">PROJECTS</h2>
	        <a class="right menu">
		        <div class="item">
		          <div class="ui right labeled icon dropdown button" style="background: #fff;border: 1px solid #ddd;">
		            <input type="hidden" name="type" data-bind="value:filters.type, event: {  change:applyFilters }">
		            <div class="default text" style="color: rgb(29, 29, 29) !important;
  font-weight: 300;">Property Type</div>
		            <i class="angle down icon"></i>
		            <div class="menu">
		            <div class="item" data-value="all">All</div>
		            <div class="item" data-value="apartments">Apartment</div>
		            <div class="item" data-value="independent house">Independent House</div>
		            <div class="item" data-value="villas">Villas</div>
		            <div class="item" data-value="plot">Plot</div>
		            <div class="item" data-value="row house">Row House</div>
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          <div class="ui right labeled icon dropdown button" style="background: #fff;border: 1px solid #ddd;">
		            <input type="hidden" name="status" data-bind="textInput:filters.status, event: {  change:applyFilters }">
		            <div class="default text" style="color: rgb(29, 29, 29) !important;
  font-weight: 300;">Status</div>
		            <i class="angle down icon"></i>
		            <div class="menu">
		              <div class="item" data-value="all">All</div>
		              <div class="item" data-value="ongoing">ongoing</div>
		              <div class="item" data-value="completed">completed</div>
		              <div class="item" data-value="upcoming">upcoming</div>            
		            </div>
		          </div>
		        </div>
		        <div class="item">
		          	<div class="ui right labeled icon dropdown button" style="background: #fff;border: 1px solid #ddd;">
					  <input type="hidden" name="order" data-bind="value:filters.order, event: {  change:applyFilters }">
					  <div class="default text" style="color: rgb(29, 29, 29) !important;
  font-weight: 300;">Sort by relevance</div>
					  <i class="sort right icon"></i>
					  <div class="menu">
					    <div class="item" data-value="asc">Newest</div>
					    <div class="item" data-value="desc">Price : High to Low</div>
					    <div class="item" data-value="asc">Price : Low to High</div>            
					  </div>
					</div>
		        </div>
		        <div class="item">
		          <div class="ui checkbox _hasDistress_">
		            <input type="checkbox" name="distress">
		            <label>Show Distress</label>
		          </div>
		        </div>
		    </a>
	  	</div>
	  	<% } %>
	  	<div class="_filters_ _hide_">
	  		<span class="ui teal label" data-bind="visible:filters.bhk() != ''">
	  		BHK :
	  		<!--ko text: filters.bhk--><!--/ko-->
    			<!--ko if: filters.bhk() != "" --><i style="margin-right: 0;" data-bind=" event: {  click:function(){removeFilters('bhk')} }" class="remove icon"></i><!--/ko-->
			</span>	    		
    		<span class="ui teal label" data-bind="visible:filters.type() != ''">
    		Property Type :
    		<!--ko text: filters.type--><!--/ko-->
    			<!--ko if: filters.type() != "" --><i style="margin-right: 0;" data-bind=" event: {  click:function(){removeFilters('type')} }" class="remove icon"></i><!--/ko-->
			</span>				
			<span class="ui teal label" data-bind="visible:filters.status() != ''">
			Status :
			<!--ko text: filters.status--><!--/ko-->
    			<!--ko if: filters.status() != "" --><i style="margin-right: 0;" data-bind=" event: {  click:function(){removeFilters('status')} }" class="remove icon"></i><!--/ko-->
			</span>   	

			<span class="ui teal label" data-bind="visible:filters.name() != ''">
			Name :
			<!--ko text: filters.name--><!--/ko-->
    			<!--ko if: filters.name() != "" --><i style="margin-right: 0;" data-bind=" event: {  click:function(){removeFilters('name')} }" class="remove icon"></i><!--/ko-->
			</span>   	
	  	</div>

	    <!-- Project Listing goes here -->
	    <div data-bind="visible:projects().length==0" style=" background:#fff;padding: 1.5rem;color: #7b7b7b;
             border-left: 2px solid #009fda;box-shadow:0 0 2px rgba(0,0,0,0.2);">
	    	No Search Results for this search. <span style="color:#00B2F3;"> Showing agents in your city</span>
	    </div>
	    <div class="ui cards sc _hide_" data-bind="foreach : agents">

			<div class="card">
			    <div class="ui image tiny">
			      <img src="/images/elliot.jpg">
			    </div>
			    <div class="content">

			      <a data-bind="attr: { href:irxId}"><div class="header" data-bind="text : name"></div></a>
			      <a class="group" data-bind="text : companyName" style="color:rgba(0,0,0,0.6);"></a>

			      <div class="content addr-ess">
	    			<i class="map marker icon"></i><span data-bind="text : location.city"> </span>
	    		  </div>
			      <div class="description">
			        Projects : 
			        <span data-bind="foreach : projects" style="margin-right:0;">
				        <!-- ko if:$index()<=2 -->
				        	<!-- ko if:$index()!=0 -->
				        	 	<span class="header">,</span>
				        	 <!-- /ko -->
				        	<span class="header" data-bind="text : $data"></span>
				        <!-- /ko -->
				    </span>
			        <span data-bind="if:projects.length>3">
			        (+
			        	<span class="header" data-bind="text : projects.length-3"></span>)
			        </span>
			       </div>
			       <div class="description">
			        Operating Localities : 
			        <span data-bind="foreach : locationProjects" style="margin-right:0;">
				        <!-- ko if:$index()<=2 -->
				        	<!-- ko if:$index()!=0 -->
				        	 	<span class="header">,</span>
				        	<!-- /ko -->
				        	<span class="header" data-bind="text : $data"></span>
				        <!-- /ko -->
				    </span>
			        <span data-bind="if:locationProjects.length>3">
			        (+
			        	<span class="header" data-bind="text : locationProjects.length-3"></span>)
			        </span>
			       </div>
			    </div>
			    <!-- <div class="inline field" data-bind="click:function(){$parent.addAgent(name,irxId)}">
				    <div class="ui checkbox">
				    	<input type="checkbox">
				    	<label></label>
				    </div>
			    </div> -->
			    <div class="extra content">
			    	<a href=""><i class="facebook square icon"></i></a>
					<a href=""><i class="share square icon"></i></a>
					<div class="right floated created">
						<div class="ui label" style="cursor:pointer;" data-bind="click:function(){$parent.addAgent(name,irxId)}">Enquiry</div>
					</div>
			      <!--<a class="friends">
			        <i class="building icon" data-bind="text:projectCounter">&nbsp;</i>
			         &nbsp;&nbsp;Projects
			      </a><a class="friends">
			        <i class="location arrow icon"></i>
			        22 Locations
			      </a>-->
			    </div>
			</div>    
		</div>
		<% if(locals.req.device.type == 'desktop'){ %>
	    <div class="ui relaxed divided items _hide_" data-bind="foreach : projects" style="margin:1rem 0;">

	    	
	    	<div class="ui items proj-listing column "><!-- 
  				<a class="ui green ribbon label">Distress</a> -->
				<div class="four column row">
					<div class="left floated column">
						<a data-bind="attr: { href: 'project/'+ id }" target="_blank"><h3 class="ui header" data-bind="text: name"></h3></a>
						<h5 class="ui header"><i class="marker icon"></i><!--ko text: location.name--><!--/ko-->,<!--ko text: location.city--><!--/ko-->,<!--ko text: location.state--><!--/ko--></h5>
					</div>					
					<div class="right floated column menu">						
					  	<div class="social-share">
						  	<div class="fb-like " data-bind="attr: { 'data-href': 'http://122.176.220.113:3000/project/'+ id }" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
						  		
					  	</div>				    	
					</div>
				</div>
				<div class="item">
				  <div class="ui medium image">
				      <img src="/images/project.jpg">
				       <div class="slider">
				        <i class="chevron right icon"></i>
				        <span>3 PHOTOS</span>
				        <i class="chevron left icon"></i>
				      </div> 
				  </div>
				  <div class="content">
				    <a class="header" style="padding-top:1rem;"><i class="rupee icon"></i>
				        <!-- ko if:Array.isArray(priceText) -->
				          <!-- ko foreach:priceText -->
				            <!-- ko if:$index -->-<!-- /ko -->
				              <!-- ko if:$data != 0 -->
				                <!-- ko text:$data --><!-- /ko -->
				              <!-- /ko -->
				              <!-- ko if:$data == 0 -->
				                On Request
				              <!-- /ko -->
				          <!-- /ko -->
				        <!-- /ko -->
				        <!-- ko if:!Array.isArray(priceText) -->
				          <!-- ko text:priceText --><!-- /ko -->
				        <!-- /ko -->
				    </a>

	    			<% if(!locals.req.device || locals.req.device.type == 'desktop'){ %>
				    <div class="ui two column grid" style="margin-top:0">
				    	<div class="fourteen wide column" style="padding:0;">
				    		<table class="ui small table pj-items extra column">
						      <tbody>
						        <tr>
						          <td>Builder Name</td>
						          <td><a href="javascript:void(0)" class="header proContent"><!--ko text: builderName--><!--/ko--></a></td>
						        </tr>
						        <tr>
						          <td>Property Type</td>
						          <td><a href="javascript:void(0)" class="header proContent"><!--ko text: type--><!--/ko--></a></td>
						        </tr>
						        <tr>
						          <td>Unit Type</td>
						          <td><span data-bind="foreach : bhk"><a class="proContent" href="javascript:void(0)" data-bind="text:$data"></a><a class="proContent" href="javascript:void(0)">BHK&nbsp;&nbsp;</a></td>
						        </tr>
						        <tr>
						          <td>Size Range</td>
						          <td><a href="javascript:void(0)" class="header proContent">             <!--ko text: builtUpArea--><!--/ko--></a></td>
						        </tr>
						        <tr>
						          <td>Status</td>
						          <td><a href="javascript:void(0)" class="header proContent">             <!--ko text: status--><!--/ko--></a></td>
						        </tr>
						        <tr>
						          <td>Possesion Date</td>
						          <td><a href="javascript:void(0)" class="header proContent"><!--ko text: possession--><!--/ko--></a></td>
						        </tr> 
						       
						        
						      </tbody>
						    </table> 
						    <% if(locals.req.device.type == 'desktop'){ %>
					      <input type="hidden" id="__filterName" value="<%= requestObj.name?requestObj.name:'' %>">
					      <input type="hidden" id="__filterBhk" value="<%= requestObj.bhk?requestObj.bhk:'' %>">
					      <input type="hidden" id="__filterType" value="<%= requestObj.type?requestObj.type:'' %>">
					      <input type="hidden" id="__projectIdFilter" value="<%= requestObj.projectId?requestObj.projectId:'' %>">
		  					<input type="hidden" id="__locationFlag" value="<%= requestObj.isLocality?requestObj.isLocality:'' %>">
		  					<input type="hidden" id="__minPrice" value="<%= requestObj.minPrice?requestObj.minPrice:'' %>">
		  					<input type="hidden" id="__maxPrice" value="<%= requestObj.maxPrice?requestObj.maxPrice:'' %>">
		  					<% } %>
					  	</div>
					    <div class="two wide column">
					      <div class="ui right floated item _actButtons">
					        <div class="ui basic button" onClick="function(){alert(1)}"><a data-bind="attr: { 'href': '/project/'+ id }">View details</a></div>
					        <div class="ui basic button leads-in" data-bind="click:function(){$parent.enquireNow($data) }">Enquire</div>
					        <div class="ui basic button"><a data-bind="attr: { 'href': '/agent-listing?projectId='+id+'&name='+name}">View agents</a></div>
					      </div>
					    </div>
				    </div>
				    <% } %>
				  </div>
				</div>

				<!-- For tablet -->


				  <div class="ui four column grid mobile tablet only _actButtons">				    
				    <div class="column" onClick="function(){alert(1)}"><a data-bind="attr: { 'href': '/project/'+ id }"><i class="unhide icon" data-content="View details"></i></a></div>
				    <div class="column leads-in" data-bind="click:function(){$parent.enquireNow($data) }"><i data-content="Enquiry now" class="edit icon"></i></div>
				    <div class="column"><a data-bind="attr: { 'href': '/agent-listing?projectId='+id}"><i data-content="View agents" class="user icon"></i></a></div>
				    <div class="column req-details" data-bind="click:function(){$parent.requestDetails($data) }"><i data-content="Request details" class="help circle icon"></i></div>				    
				  </div>

				<!-- ends here -->
			</div>
			<!-- <div data-bind="scroll: true, scrollOptions: { loadFunc: addSome, offset: 10 }"></div> -->
		</div>
		<% } %>
	    <!-- Project ends here -->
	</div>
	</div>
	</div>
	<script type="text/javascript">

		function Project(options){
			this.page = {
				start : 0,
				pageSize : 10
			}
		}
	Project.prototype.init = function() {

		var _classInstance = this;
  		$(document).on('click','._hasDistress_',function(){
  			_classInstance.resetPage();
  			var self = $(this);
  			
  			if(self.hasClass('checked')){
  				_classInstance.viewModel.filters.distress(true);
  			}else{
  				_classInstance.viewModel.filters.distress(false);
  			}
  			
  			_classInstance.listProjects(true)
  		})
  		$(document).on('click','#_leadP_', function(){
  			var projectId = $("#_projectIdP_").val();
  			var name = $(this).parents('#leads').find("input[name='name']").val();
  			var emailId = $(this).parents('#leads').find("input[name='emailId']").val();
  			var mobileNo = $(this).parents('#leads').find("input[name='mobileNo']").val();
  			var type = $(this).parents('#leads').find("input[name='type']:checked").val();
  			var ceateLogin =false;
  			if($(this).parents('#leads').find("._createLoginP_.checked")){
  				createLogin = true;
  			}
  			var data={
  				"projectId": projectId,
  				"name":name,
  				"emailId":emailId,
  				"mobileNo":mobileNo,
  				"type":type,
  				"createLogin":createLogin
  			}
  			
  			httpUtils.post("/capture-lead",
				data,
				 { },"JSON",function(data){
				if(data.status==0){
			       alert(1)
				} else {
					
				}
			})
  			
  		})
		_classInstance.scroller = ko.bindingHandlers.scroll = {

		  updating:true,
		  
		  init: function(element, valueAccessor, allBindingsAccessor) {
		  	
		      var self = this
		      self.updating =(true);
		      ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
		            $(window).off("scroll.ko.scrollHandler")
		            self.updating= (false); 
		      });
		      $(element).append('<div id="_sc_more" style="height:100px;display:none" hasMore="true"></div>');
		      $(element).on('__sc__more', function(e,flag){
		      		
				  	 var ele_more = $('#_sc_more');
				  	 if(typeof(flag) == "undefined"){
				  	 	return ele_more.attr("hasMore")=='true';
				  	 }else{
				  	 	if(flag){
				  	 		ele_more.show();
				  	 	}else{
				  	 		ele_more.hide();
				  	 	}
				  	 	ele_more.attr("hasMore",flag);
				  	 	return flag;
				  	 }
				  })
		  		},

		  update: function(element, valueAccessor, allBindingsAccessor){

		    var props = allBindingsAccessor().scrollOptions
		    var offset = props.offset ? props.offset : "0"
		    var loadFunc = props.loadFunc
		    var load = ko.utils.unwrapObservable(valueAccessor());
		    var self = this;
		    
		    if(load){
		      element.style.display = "";
		      $(window).on("scroll.ko.scrollHandler", function(){
		      	
		        if(($(document).height() - offset <= $(window).height() + $(window).scrollTop())){
		          if(self.updating){
		          	
		          	self.updating =(false);

		            _classInstance.listProjects(false,function(success){
		            	
		            	self.updating=success;
		            	$(element).trigger('__sc__more',success)
		            })
		          }
		        }
		       
		      });
		    }
		    else{
		        element.style.display = "none";
		        $(window).off("scroll.ko.scrollHandler")
		        self.updating = false
		    }
		  }
		 };
		 var filterName = $('#__filterName').val()
		 if(typeof(filterName) == "undefined" || filterName == null ){
		 	filterName = "";
		 }
		 var filterBhk = $('#__filterBhk').val()
		 if(typeof(filterBhk) == "undefined" || filterBhk == null ){
		 	filterBhk = "";
		 }
		  var filterType = $('#__filterType').val()
		 if(typeof(filterType) == "undefined" || filterType == null ){
		 	filterType = "";
		 }
		 var locationFlag1 = $('#__locationFlag').val()
		 if(typeof(locationFlag1) == "undefined" || locationFlag1 == null ){
		 	locationFlag1 = false;
		 }
		  var projectIdFilter = $('#__projectIdFilter').val()
		 if(typeof(projectIdFilter) == "undefined" || projectIdFilter == null ){
		 	projectIdFilter = false;
		 }
		  var minP = $('#__minPrice').val()
		 if(typeof(minP) == "undefined" || minP == null ){
		 	minP = "";
		 }
		  var maxP = $('#__maxPrice').val()
		 if(typeof(maxP) == "undefined" || maxP == null ){
		 	maxP = "";
		 }
		_classInstance.viewModel = {
			projects: ko.observableArray(),
			agents : ko.observableArray(),
			filters: {
				displayName:ko.observable("All"),
				name:ko.observable(filterName),
				bhk:ko.observable(filterBhk),
				type:ko.observable(filterType),
				order:ko.observable("asc"),
				distress:ko.observable(false),
				status:ko.observable(""),
			    locationFlag :ko.observable(locationFlag1),
			    projectId:ko.observable(projectIdFilter),
			    minPrice:ko.observable(minP),
			    maxPrice:ko.observable(maxP)
			},
			addSome : function(){
				
				//_classInstance.listProjects(true);
			},
			applyFilters : function(){
				
				_classInstance.resetPage();
				_classInstance.listProjects(true);
				return true;
			},
			removeFilters : function(filterName){
				
				_classInstance.viewModel.filters[filterName]("");
				_classInstance.resetPage();
				_classInstance.listProjects(true);
				return true;
			},
			requestDetails : function(data){
				_classInstance.requestDetails(data.id);
			},
			enquireNow : function(data){

				_classInstance.enquireNow(data.id);
			},
			
			pageSize: ko.observable(_classInstance.page.pageSize),
			start: ko.observable()
		}
				
		 ko.applyBindings(_classInstance.viewModel,document.getElementById('projListing'));
		 
		 if(_classInstance.viewModel.filters.locationFlag()=='true'){
		 	
		 	_classInstance.listProjectsOfLocation(true);
		 }else{
		 	_classInstance.listProjects(true);
		 }
		
	};

	Project.prototype.resetFilters = function(filters) {
		var _classInstance=this;
		_classInstance.viewModel.filters.name(filters.name)
		_classInstance.viewModel.filters.bhk(filters.bhk)
		_classInstance.scroller.updating=true;
		
		_classInstance.resetPage();
	}
	 Project.prototype.listProjectsOfLocation=function(localityId,replace,setUpdate){
      var classInstance = this;
     
          var data = {
            "localityId":classInstance.viewModel.filters.projectId()
          }
          var filters = {
            "name" : classInstance.viewModel.filters.name()
          }
          console.log()
          httpUtils.post("/list-projects",
                        {filters:data,page:classInstance.page},
                        {},"JSON",function(data){
           if(typeof(replace) != undefined && replace){
	       		classInstance.viewModel.projects([]);
	       	}
	       
	       	if(data.result == null || data.result.length == 0){
	       		classInstance.listLocationAgent();
	       		return;
	       	} else{
	       		classInstance.viewModel.agents([]);
	       	}
	       	var arr = data.result;
		 		for (var i=0;i<arr.length;i++){
		 			
		 			var price =  arr[i].price;
			        var aPriceArr = new Array();

			        for (var j=0;j<price.length;j++){
			        	var aPrice = price[j];
			        	
			        	 if(aPrice){
				          var aPriceText =  classInstance.getPriceText(""+aPrice)

				          aPriceArr.push(aPriceText);
				        }else{
				         aPriceArr.push(aPrice);
				        }
			        }

			       arr[i].priceText =  aPriceArr;
		 		}
			
	       ko.utils.arrayPushAll(classInstance.viewModel.projects,arr)	
	       classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	        classInstance.viewModel.start(classInstance.page.start) ;
	        classInstance.viewModel.pageSize=data.page.pageSize;
	        if(setUpdate){
	        	
	       		setUpdate(data.page.hasMore)
	       	}
        })
     
    }
	Project.prototype.resetPage = function(filters) {
		var _classInstance=this;
		_classInstance.page.start=0;
	}
	Project.prototype.getPriceText = function(amount) {
		
    var text = "";
    if(amount.length==4 || amount.length==5){
        amount = Number(amount)/1000;
        text = amount+"K";
      } else if(amount.length==6 || amount.length==7){
        amount = Number(amount)/100000;
        text = amount+"Lac";
      } else if(amount.length>8){
        amount = Number(amount)/10000000;
        text = amount+"Cr";
      } else {
        text = amount
      }
      return text;
  };
	Project.prototype.requestDetails = function(projectId) {
		httpUtils.get('/request-details/'+projectId,{},"JSON",function(data){
       if(data.status==0){
	       	$('#req-details').modal({
	      		closable:false
	    	}).modal('show');
         }
        })
      };
      
      Project.prototype.enquireNow = function(projectId) {
      	 $('#leads').modal({
		      closable:false
		    }).modal('show');
      	 $("#_projectIdP_").val(projectId);
      };


	Project.prototype.renderResult = function(data,filters) {


		var classInstance = this;  
		classInstance.viewModel.projects([]);
		classInstance.viewModel.filters.name(filters.name);
		classInstance.viewModel.filters.displayName(filters.name);

		classInstance.viewModel.filters.projectId(""+filters.projectId);
		classInstance.viewModel.filters.locationFlag(""+filters.locationFlag);
		if(data.result == null || data.result.length == 0){
	       		classInstance.listLocationAgent();
	       		return;
	       	} else{
	       		classInstance.viewModel.agents([]);
	       	}

			var arr = data.result;
		 		for (var i=0;i<arr.length;i++){
		 			
		 			var price =  arr[i].price;
			        var aPriceArr = new Array();

			        for (var j=0;j<price.length;j++){
			        	var aPrice = price[j];
			        	
			        	 if(aPrice){
				          var aPriceText =  classInstance.getPriceText(""+aPrice)

				          aPriceArr.push(aPriceText);
				        }else{
				         aPriceArr.push(aPrice);
				        }
			        }

			       arr[i].priceText =  aPriceArr;
		 		}
			classInstance.viewModel.projects([])
	       	ko.utils.arrayPushAll(classInstance.viewModel.projects,arr)	
			//ko.utils.arrayPushAll(classInstance.viewModel.projects,data.result)	
		$('.doubling.two.column.row').hide();
			classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	        classInstance.viewModel.start(classInstance.page.start) ;
	        classInstance.viewModel.pageSize=data.page.pageSize;

	}
	
	Project.prototype.listLocationAgent = function() {
		var classInstance = this;
		httpUtils.post("/list-agents",{filters:{"city":""},page:{"start":0,"pageSize":5}},{},"JSON",function(data){
	    		if(data.result != null && data.result.length !=0 ){
	    			classInstance.viewModel.agents([])
	    			 ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)	
	    		}	
	      })
	}
	
	Project.prototype.listProjects = function(replace,setUpdate) {
		
		var classInstance = this;
		//alert(classInstance.viewModel.filters.type)
    	
	    httpUtils.post("/list-projects-elastic",{filters:classInstance.viewModel.filters,page:classInstance.page},{},"JSON",function(data){
	       if(data.status==0){
	       	if(typeof(replace) != undefined && replace){
	       		classInstance.viewModel.projects([]);
	       	}
	       	if(data.result == null || data.result.length == 0){
	       		classInstance.listLocationAgent();
	       		return;
	       	} else{
	       		classInstance.viewModel.agents([]);
	       	}
	       	var arr = data.result;
	       	if(!arr || arr == null || arr.length==0){
	       		return
	       	}
		 		for (var i=0;i<arr.length;i++){
		 			
		 			var price =  arr[i].price;
			        var aPriceArr = new Array();

			        for (var j=0;j<price.length;j++){
			        	var aPrice = price[j];
			        	
			        	 if(aPrice){
				          var aPriceText =  classInstance.getPriceText(""+aPrice)

				          aPriceArr.push(aPriceText);
				        }else{
				         aPriceArr.push(aPrice);
				        }
			        }

			       arr[i].priceText =  aPriceArr;
		 		}
		
	       ko.utils.arrayPushAll(classInstance.viewModel.projects,arr)	
	       classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	        classInstance.viewModel.start(classInstance.page.start) ;
	        classInstance.viewModel.pageSize=data.page.pageSize;
	        if(setUpdate){
	        	
	       		setUpdate(data.page.hasMore)
	       	}
	        }
		})
	 }

		var project = null;
		$(document).ready(function(){
	  	
		    project = new Project();
		    project.init();

	    	$('._hide_').show()
	  	})
	</script>
  <% include ../partials/footer.html.ejs %>
</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
