<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/projdet.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
</head>
<style type="text/css">
	#desktop-projDet .ui.images {
		padding: 1rem 0;
	}

	#desktop-projDet .ui.images .image, #desktop-projDet .ui.images img {
		width: 120px !important;
	}
</style>
<body>
  <% include ../partials/header.html.ejs %>

  <!-- Proj Detailing starts here -->
<div id="__proDet__">
  	<!-- For mobile screens -->

  		<div id="mobile-projDet" class="ui relaxed stackable grid mobile tablet only">

			
			<div class="ui inverted segment head">
				<h3 class="ui header _csn"><%= result.name %></h3>			
				<h4 class="ui header _csn" style="color: #337EC8 !important;font-weight: normal;font-size: 1rem;margin:0;width:100%;">
					<i class="rupee icon"></i><%= result.price[0]/100000.0 %>L <%= (result.price.length>1)? "-"+ result.price[1]/100000.0+"L": '' %>
				</h4>
			</div>
			<input id="_projectId" value="<%= projectId %>" type="hidden">
			<div class="ui inverted title">
				<div class="item">				
					<h4 class="ui header"><%= result.builderName %></h4>
				</div>
				<!-- <div class="item _price">
					<h2><i class="rupee icon"></i> <%= result.price %></h2>
				</div> -->
			</div>
			<div class="ui one column grid">
				<div class="column">
					<table>
						<tbody>
							<tr>
								<td>Built-up Area</td>
								<th>580-1350 sq.ft.</th>
							</tr>
							<tr>
								<td>BHK</td>
								<th><%= result.bhk %></th>
							</tr>
							<tr>
								<td>Possession</td>
								<th><%= result.possession %></th>
							</tr>
							<tr>
								<td>Property Type</td>
								<th><%= result.type %></th>
							</tr>
							<tr>
								<td>Locality</td>
								<th><%= result.location.name %></th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>		
			<div class="ui inverted xtra">
				<div class="item">				
					<h3 class="ui header">Region</h3>
					<h4 class="ui header"><%= result.location.name %>,<%= result.location.city %>,<%= result.location.state %></h4>
				</div>
				<div class="item _button">
					<div class="ui blue small button req-details"><i class="icon edit"></i>Request Details</div>
					<div class="ui blue small button leads-in"><i class="icon help circle"></i>Enquiry Now</div>
				</div>
			</div>			
			<!-- <img class="ui medium rounded image" src="/images/project.jpg"> -->
			<% if(result.profileImage!=null){%>
				<img class="ui medium rounded image" src="<%=result.profileImage%>"/>
			<%} else if (result.gallery!=null && result.gallery.length>0){%>
				<img class="ui medium rounded image" src="<%=result.gallery[0]%>"/>
			<%}else {%>
			<%}%>
			<div class="ui images">
				<% if(result.gallery!=null){
					 for(var glry=0 ;glry<result.gallery.length;glry++){		  %>
						<img class="ui tiny image" src="<%=result.gallery[glry]%>">
					<%}
				}%>
			  <!-- <img class="ui tiny image" src="/images/square-image.png">
			  <img class="ui tiny image" src="/images/square-image.png">
			  <img class="ui tiny image" src="/images/square-image.png">
			  <img class="ui tiny image" src="/images/square-image.png"> -->
			</div><div class="content">
				<!-- tab goes here -->

					<div class="ui top attached tabular menu">
					  <!-- <a class="active item" data-tab="first">Locality</a> -->
					  <a class="active item" data-tab="first">Floor Plan</a>
					  <a class="item pref_agents_btn" id="pref_agents_btn" data-tab="third">Preferred Agents</a>
					</div>
<!-- 					<div class="ui bottom attached tab segment" data-tab="first">
						<div class="ui accordion">
						    <div class="active title">
						      <i class="dropdown icon"></i>
						      What is a dog?
						    </div>
						    <div class="active content">
						      <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
						    </div>
						    <div class="title">
						      <i class="dropdown icon"></i>
						      What kinds of dogs are there?
						    </div>
						    <div class="content">
						      <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
						    </div>
						    <div class="title">
						      <i class="dropdown icon"></i>
						      How do you acquire a dog?
						    </div>
						    <div class="content">
						      <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
						      <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
						    </div>
						  </div>
					</div> -->
					<div class="ui bottom active attached tab segment" data-tab="first">
						<%=result.floorPlan%>
						<% if(result.floorPlan!=null){
						 for(var fp=0 ;fp<result.floorPlan.length;fp++){		  %>											
							<img class="ui medium image" src="<%=result.floorPlan[fp]%>">
						<%}
						}%>
					</div>
					<!-- <div id="pref_agents" class="ui bottom attached tab segment" data-tab="third">

						<div class="ui divided items" data-bind="foreach : agents">
						  <div class="item">
						    <div class="image">
						      <img src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
						    </div>
						    <div class="content">
						      <a data-bind="attr: { href:irxId}" class="header" data-bind="text : name">Elliot Fu</a>
						      <div class="meta">
						        <span class="price" data-bind="text : companyName">IRX,India</span><br>
						        <span class="cinema"><i class="map marker icon"></i><!--ko text: location.city--><!--/ko--><!--</span>
						      </div>
						      <div class="description">
						        Projects : 
						        <span data-bind="foreach : projects" style="margin-right:0;">
						          <!-- ko if:$index()<=1 
						            <span class="header" data-bind="text : $data"></span>
						             <!-- ko if:$index()==0 
						              <span class="header">,</span>
						             <!-- /ko 
						          <!-- /ko 
						        </span>
						        <span data-bind="if:projects.length>2">
						        (+
						          <span class="header" data-bind="text : projects.length-2"></span>)
						        </span>
						       </div>
						       <div class="description">
						          Operating Localities : 
						          <span data-bind="foreach : locationProjects" style="margin-right:0;">
						            <!-- ko if:$index()<=1 
						              <span class="header" data-bind="text : $data"></span>
						               <!-- ko if:$index()==0 
						                <span class="header">,</span>
						               <!-- /ko 
						            <!-- /ko 
						        </span>
						        <span data-bind="if:locationProjects.length>2">
						        (+
						          <span class="header" data-bind="text : locationProjects.length-2"></span>)
						        </span>
						      </div>
						      <div class="extra">
						        <div class="ui right floated label">Enquiry now</div>
						        <a href=""><i class="facebook big square icon"></i></a>
						        <a href=""><i class="share big square icon"></i></a>
						      </div>
						    </div>
						  </div>
						</div>		
					</div> -->
					<div id="pref_agents" class="ui bottom attached tab segment" data-tab="third">

				<div class="ui divided items" data-bind="foreach : agents">
				  <div class="item">
				    <div class="image">
				      <img src="/images/elliot.jpg">
				    </div>
				    <div class="content">
				      <a data-bind="attr: { href:irxId}" class="header" data-bind="text : name">Elliot Fu</a>
				      <div class="meta">
				        <div class="price" data-bind="text : companyName" style="padding:.5rem 0;">IRX,India</div>
				        <div class="cinema"><i class="map marker icon"></i><!--ko text: location.city--><!--/ko--></div>
				      </div>
				      <div class="description">
				        Projects : 
				        <span data-bind="foreach : projects" style="margin-right:0;">
				          <!-- ko if:$index()<=1 -->
				            <span class="header" data-bind="text : $data"></span>
				             <!-- ko if:$index()==0 -->
				              <span class="header">,</span>
				             <!-- /ko -->
				          <!-- /ko -->
				        </span>
				        <span data-bind="if:projects.length>2">
				        (+
				          <span class="header" data-bind="text : projects.length-2"></span>)
				        </span>
				       </div>
				       <div class="description">
				          Operating Localities : 
				          <span data-bind="foreach : locationProjects" style="margin-right:0;">
				            <!-- ko if:$index()<=1 -->
				              <span class="header" data-bind="text : $data"></span>
				               <!-- ko if:$index()==0 -->
				                <span class="header">,</span>
				               <!-- /ko -->
				            <!-- /ko -->
				        </span>
				        <span data-bind="if:locationProjects.length>2">
				        (+
				          <span class="header" data-bind="text : locationProjects.length-2"></span>)
				        </span>
				      </div>
				      <div class="extra">
				        <div class="ui right floated label">Enquiry now</div>
				        <a href="" style="margin:0;"><i style="font-size:1.5em;margin-right:0;" class="facebook square icon"></i></a>
				        <a href="" style="margin:0;"><i style="font-size:1.5em;margin-right:0;" class="share square icon"></i></a>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="ui centered aligned grid" style="padding: 2rem 0;">
					<div class="ui button">View all agents</div>
				</div>
			</div>
		</div>
				<!-- ends here -->
			</div>
		</div>


  	<!-- ends here -->

	<div id="desktop-projDet" class="ui divided padded grid computer only">

		<div class="nine wide column">
<!-- 			<div class="ui inverted segment head four column row">
				<h3 class="left floated column"><%= result.name %></h3>			
				<div class="right floated column">
					<i class="mail icon"></i> i'm interested
				</div>
			</div> -->
			<input id="_projectId" value="<%= projectId %>" type="hidden">
			<div class="ui inverted title four column row" style="background:#fff;">
				<div class="floated column _csn" style="width: 69%;">				
					<h2 class="ui header" style="text-transform: capitalize;font-weight: normal;font-size:1.2rem;" style="#5F7BB8 !important"><%= result.name %></h2>
					<h4 class="ui header" style="margin: .1rem 0;font-size: 90%;"><%= result.builderName %></h4>
				</div>
				<div class="floated column _csn" style="vertical-align:top;text-align: right;min-width: 25%;">
					<h2 style="color: #337EC8 !important;font-weight: normal;font-size: 1.4em;"><i class="rupee icon"></i> <%= result.price[0]/100000.0 %>L <%= (result.price.length>1)? "-"+ result.price[1]/100000.0+"L": '' %> </h2>
				</div>
			</div>
			<table class="ui table" style="margin:0 0 1em;background:#FFF !important">
			  <thead>
			    <tr>
			      <th>Built-up Area</th>
			      <th>BHK</th>
			      <th>Possession</th>
			      <th>Property Type</th>
			      <th>Locality</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>580-1350 sq.ft.</td>
			      <td><%= result.bhk %></td>
			      <td><%= result.possession %></td>
			      <td><%= result.type %></td>
			      <td><%= result.location.name %></td>
			    </tr>
			  </tbody>
			</table>		
			<div class="ui inverted xtra four column row">
				<div class="left floated column">				
					<h3 class="ui header">Region</h3>
					<h4 class="ui header" id="location"><%= result.location.name %>,<%= result.location.city %>,<%= result.location.state %></h4>
				</div>
				<div class="right floated column">
					<div class="ui blue button req-details" data-bind="click:function(){requestDetails('<%= result.id %>') }"><i class="icon edit"></i>Request Details</div>
					<div class="ui blue button leads-in" data-bind="click:function(){enquireNow('<%= result.id %>') }"><i class="icon help circle"></i>Enquiry Now</div>
				</div>
			</div>
			<div class="ui top attached tabular menu">
			  <a class="active item" data-tab="first">Locality</a>
			  <a class="item" data-tab="second">Floor Plan</a>
			  <a class="item pref_agents_btn" id="pref_agents_btn" data-tab="third">Preferred Agents</a>
			</div>
			<div class="ui bottom attached active tab segment locality" data-tab="first">
				<div class="ui">
					<div class="">
					    <div class="title _csn _txt_cntr" data-tab-item="air">
					     	Airports
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="train">
							Train
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="bus">
					    	Bus
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="bank">
					    	Banks
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="store">
							Store
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="food">
					    	Resturants
					    </div>
					</div>
				    <div class="active content _lclt_tb_cnt" data-tab-item="air">
				    	<div id="map-canvas" name="mapdiv" style="width: 100%;height: 500px;"> </div>
						<!-- <p>Indira Gandhi International Airport T-318 min 12.9 km </p>
						<p>Indira Gandhi International Airport T-318 min 12.9 km </p> -->
				    </div>
				  </div>
			</div>
			<div class="ui bottom attached tab segment floorPlan _txt_cntr" data-tab="second">
				<% if(result.floorPlan!=null){
					 for(var fp=0 ;fp<result.floorPlan.length;fp++){		  %>											
						<img class="ui medium image _csn" src="<%=result.floorPlan[fp]%>">
					<%}
				}
				if(result.floorPlan==null || result.floorPlan.length==0) {
				%>
					<div style="padding: 1.5rem; color: rgb(123, 123, 123); border-left-width: 2px; border-left-style: solid; border-left-color: rgb(0, 159, 218); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px; background: rgb(255, 255, 255);">
				    	No floor plan found. 
				    </div>
				<%}
				%>
			</div>
			<div id="pref_agents" class="ui bottom attached tab segment" data-tab="third">

				<div class="ui divided items" data-bind="foreach : agents">
				  <div class="item">
				    <div class="image">
				      <img src="/images/elliot.jpg">
				    </div>
				    <div class="content">
				      <a data-bind="attr: { href:irxId}" class="header" data-bind="text : name">Elliot Fu</a>
				      <div class="meta">
				        <div class="price" data-bind="text : companyName" style="padding:.5rem 0;">IRX,India</div>
				        <div class="cinema"><i class="map marker icon"></i><!--ko text: location.city--><!--/ko--></div>
				      </div>
				      <div class="description">
				        Projects : 
				        <span data-bind="foreach : projects" style="margin-right:0;">
				          <!-- ko if:$index()<=1 -->
				            <span class="header" data-bind="text : $data"></span>
				             <!-- ko if:$index()==0 -->
				              <span class="header">,</span>
				             <!-- /ko -->
				          <!-- /ko -->
				        </span>
				        <span data-bind="if:projects.length>2">
				        (+
				          <span class="header" data-bind="text : projects.length-2"></span>)
				        </span>
				       </div>
				       <div class="description">
				          Operating Localities : 
				          <span data-bind="foreach : locationProjects" style="margin-right:0;">
				            <!-- ko if:$index()<=1 -->
				              <span class="header" data-bind="text : $data"></span>
				               <!-- ko if:$index()==0 -->
				                <span class="header">,</span>
				               <!-- /ko -->
				            <!-- /ko -->
				        </span>
				        <span data-bind="if:locationProjects.length>2">
				        (+
				          <span class="header" data-bind="text : locationProjects.length-2"></span>)
				        </span>
				      </div>
				      <div class="extra">
				        <div class="ui right floated label">Enquiry now</div>
				        <a href="" style="margin:0;"><i style="font-size:1.5em;margin-right:0;" class="facebook square icon"></i></a>
				        <a href="" style="margin:0;"><i style="font-size:1.5em;margin-right:0;" class="share square icon"></i></a>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="ui centered aligned grid" style="padding: 2rem 0;">
					<div class="ui button">View all agents</div>
				</div>
			</div>
		</div>
		<div class="seven wide column">
			<% if(result.profileImage!=null){%>
				<img class="ui medium rounded image" src="<%=result.profileImage%>"/>
			<%} else if (result.gallery!=null && result.gallery.length>0){%>
				<img class="ui medium rounded image" src="<%=result.gallery[0]%>"/>
			<%}else {%>
				<img class="ui medium rounded image" src="/images/square-image.png"/>
			<%}%>
			<div class="ui images">
			  <!-- <img class="ui image" src="/images/square-image.png">
			  <img class="ui image" src="/images/square-image.png">
			  <img class="ui image" src="/images/square-image.png">
			  <img class="ui image" src="/images/square-image.png"> -->
			  <% if(result.gallery!=null){
					 for(var glry=0 ;glry<result.gallery.length;glry++){		  %>
						<img class="ui image" src="<%=result.gallery[glry]%>">
					<%}
				}%>
			</div>
			<%	if(result.gallery==null || result.gallery.length==0) {	%>
				<div style="padding: 1rem; color: rgb(123, 123, 123); border-left-width: 2px; border-left-style: solid; border-left-color: rgb(0, 159, 218); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px; background: rgb(255, 255, 255);margin-bottom:1rem;">
			    	No Gallery Found. 
			    </div>
			<%}	%>
			<!-- <img class="ui medium rounded image" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= result.location.name %>+<%= result.location.city %>+<%= result.location.state%>+India&zoom=15&size=500x400&maptype=roadmap"> -->
		</div>
	</div>
  <!-- Proj detailing ends here -->
</div>
<script type="text/javascript">
	var map;
	var infowindow;
	var pyrmont;
	var geocoder= new google.maps.Geocoder();
	var outdivtext;
	var pl_name;

	function locationDecoder(){
		geocoder.geocode( { 'address': $("#location").text()}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK && results!=null) {
		      	pyrmont =results[0].geometry.location;
     			map.setCenter(pyrmont);
		      	var marker = new google.maps.Marker({
					map: map,
					position: pyrmont
		      	});
			 //  	var request = {
				// 	location: pyrmont,
				// 	radius: 1000,
				// 	types: ['atm','store','bank','food','airport','bus_station','train_station']
				// };
				// infowindow = new google.maps.InfoWindow({maxWidth: 200});
				// var service = new google.maps.places.PlacesService(map);
				// service.nearbySearch(request, callback);
		    } 
	  	});
	}
	function getpl(that_id)	{
		map = new google.maps.Map(document.getElementById('map-canvas'), {
			center: pyrmont,
			zoom: 15
		});

		var request = {
			location: pyrmont,
			radius: 500,
			types:[that_id]
		};
		infowindow =new google.maps.InfoWindow();
		var service = new google.maps.places.PlacesService(map);
		service.nearbySearch(request, callback);
	}

	function initialize() {

		map = new google.maps.Map(document.getElementById('map-canvas'), {
			center: pyrmont,
			zoom: 13
		});
		locationDecoder();
	}

	function callback(results, status) {
	  	if (status == google.maps.places.PlacesServiceStatus.OK) {
		    for (var i = 0; i < results.length; i++) {
		      createMarker(results[i]);
		    }
	   }
	}

	function createMarker(place) {
		var placeLoc = place.geometry.location;
		var marker = new google.maps.Marker({
		map: map,
			position: place.geometry.location,
		});

	  	google.maps.event.addListener(marker, 'click', function() {
		    infowindow.setContent("Place Name : "+place.name +"<br>"+"Place Co-ordinates :"+place.geometry.location+"<br>"+"Place Ratings : "+place.rating+"<br>"+"PLace Vicinity :"+place.Vicinity+"<br>Place type : "+place.types);  
		    infowindow.open(map, this);
	  	});
	}

	initialize();

	function Project(option){
		page={
			start:0,
			pageSize:5
		}
	}
	
	Project.prototype.init = function() {
	    var _classInstance = this;
	    _classInstance.viewModel = {
	      agents: ko.observableArray(),
	      requestDetails : function(id){
				_classInstance.requestDetails(id);
			},
			enquireNow : function(id){

				_classInstance.enquireNow(id);
			},
			
	    }

	  	ko.applyBindings(_classInstance.viewModel,document.getElementById('desktop-projDet'));
	  	$('.pref_agents_btn').click(function(){
	  		
	  		if(_classInstance.viewModel.agents().length ==0){
	  			var projectId= $('#_projectId').val();
	  			_classInstance.listPreferredAgents(projectId);
	  		}
	  		
	  	});

	  	$(".locality .title").click(function(){
	  		var _self=$(this);
	  		$(".locality .title").removeClass('active');
 	 		_self.addClass("active");
 	 		getpl(_self.attr('data-tab-item'))
	  	});
	}
	
	Project.prototype.listPreferredAgents = function(projectId) {
		var classInstance = this;
    	httpUtils.get("/prefered-agents/"+projectId,{page:classInstance.page},"JSON",function(data){
	       	if(data.status==0){
	        	ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)
	        	if(data.page!=null)
	        		classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	       	} 
    	})
	}
	Project.prototype.requestDetails = function(projectId) {
		httpUtils.get('/request-details/'+projectId,{},"JSON",function(data){
       		if(data.status==0){
	       		$('#req-details').modal({
	      			closable:false
	    		}).modal('show');
         	}
        });
      };
      Project.prototype.enquireNow = function(projectId) {
      	 $('#leads').modal({
		      closable:false
		    }).modal('show');
      	 $("#_projectIdP_").val(projectId);
      };
      Project.prototype.getPriceText = function(amount) {
		
	    var text = "";
	    if(amount.length==4 || amount.length==5){
	        amount = Number(amount)/1000;
	        text = amount+"K";
	      } else if(amount.length==6 || amount.length==7){
	        amount = Number(amount)/100000;
	        text = amount+"Lac";
	      } else if(amount.length>8){
	        amount = Number(amount)/10000000;
	        text = amount+"Cr";
	      } else {
	        text = amount
	      }
	      return text;
	  };
	$(document).ready(function(){
		var proj = new Project();
		proj.init();
		
	})

</script>
  <% include ../partials/footer.html.ejs %>
</body>