<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/projdet.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
</head>
<style type="text/css">
	#desktop-projDet .ui.images {
		padding: 1rem 0;
	}

	#desktop-projDet .ui.images .image, #desktop-projDet .ui.images img {
		width: 120px !important;
	}
	/*._pImage_ {
		min-height: 63px;
		margin-top: 8px;
  		background-position: center !important;
  		background-repeat: no-repeat !important;
  		background-size: 63px 63px !important;
	}*/
	._subReqP_ {
		cursor: pointer
	}
</style>
<body>
  <% include ../partials/header.html.ejs %>

  <!-- Proj Detailing starts here -->
<div id="__proDet__">
  	<!-- For mobile screens -->
  		

  	<!-- ends here -->

	<% if(locals.req.device.type != 'desktop'){ %>
		<div id="mobile-projDet" class="ui grid projDet">

		<div class="sixteen wide column">
	<% } %>

	<% if(locals.req.device.type == 'desktop'){ %>
	<div id="desktop-projDet" class="ui divided padded grid projDet">

		<div class="nine wide column">
	<% } %>
			<input id="_projectId" value="<%= projectId %>" type="hidden">
			<div class="content" style="padding:.6rem;background:#fff;box-shadow:0 0 2px rgba(0,0,0,0.2);margin-bottom:2rem;">
				<div class="ui inverted title grid" style="margin:0;padding:0 !important;">
					<div class="ten wide column _csn">				
						<h2 class="ui header"><%= result.name %></h2>
						<h4 class="ui header"><%= result.builderName %></h4>
					</div>
					<div class="six wide column _csn" style="text-align: right;">
						<h2><i class="rupee icon"></i> <%= result.price[0]/100000.0 %>Lac <%= (result.price.length>1)? "-"+ result.price[1]/100000.0+"Lac": '' %> </h2>
					</div>
				</div>
				<div class="description" style="padding:1rem;border-top: 2px solid #eaeaea !important;">
			        <p>No description available.</p>
			    </div>
				<table class="ui table" style="margin:0 !important;padding-bottom:0 !important;">
				  	<tr>
				      <td style="border:0 !important;">Built-up Area</td>
				      <td style="border:0 !important;">580-1350 sq.ft.</td>
				    </tr>
				    <tr>
				      <td>BHK</td>
				      <td><%= result.bhk %></td>
				    </tr>
				    <tr>
				    	<td>Possession</td>
				      <td><%= result.possession %></td>
				    </tr>
				    <tr>
				    	<td>Type</td>
				      	<td><%= result.type %></td>
				    </tr>
				    <tr>
				    	<td>Locality</td>
				      	<td><%= result.location.name %></td>
				    </tr>
				</table>
			</div>	
			<input id="_projectId_" type="hidden" value="<%= result.id %>">
			
			<% if(locals.req.device.type != 'desktop'){ %>
			<div style="text-align:center">
				<div class="ui button" style="background:#fff;border: 1px solid #ddd;margin-bottom:1rem;"><a href="/agent-listing?projectId=<%= result.id %>&name=<%= result.name %>"> View agents of this project</a></div>
			</div>
			<% } %>
			
			<div class="ui inverted xtra _actions" style="padding-bottom:1rem;">
				<div class="ui blue button req-details" data-bind="click:function(){requestDetails('<%= result.id %>') }"><i class="icon edit"></i>Request Details</div>
				<div class="ui blue button leads-in" data-bind="click:function(){enquireNow('<%= result.id %>') }"><i class="icon help circle"></i>Enquire</div>
				 <div class="ui basic button" data-bind="html:fbIntegration('<%= result.id %>')"></div>
			</div>
			<div class="ui top attached tabular menu">
			  <a class="item active" data-tab="first">Images</a>
			  <a class="item" data-tab="second">Locality</a>
			  <a class="item" data-tab="third">Floor Plan</a>
			</div>
			<div class="ui bottom attached active tab segment" data-tab="first">
				<% if(result.profileImage!=null){%>
				<img class="ui medium rounded image" src="<%=result.profileImage%>"/>
				<%} else if (result.gallery!=null && result.gallery.length>0){%>
					<img class="ui medium rounded image" src="<%=result.gallery[0]%>"/>
				<%}else {%>
					<img class="ui medium rounded image" src="/images/square-image.png"/>
				<%}%>
				<div class="ui images">
				  <!-- <img class="ui image" src="/images/square-image.png">
				  <img class="ui image" src="/images/square-image.png">
				  <img class="ui image" src="/images/square-image.png">
				  <img class="ui image" src="/images/square-image.png"> -->
				  <% if(result.gallery!=null){
						 for(var glry=0 ;glry<result.gallery.length;glry++){		  %>
							<img class="ui image" src="<%=result.gallery[glry]%>">
						<%}
					}%>
				</div>
				<%	if(result.gallery==null || result.gallery.length==0) {	%>
					<div style="padding: 1rem; color: rgb(123, 123, 123); border-left-width: 2px; border-left-style: solid; border-left-color: rgb(0, 159, 218); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px; background: rgb(255, 255, 255);margin-bottom:1rem;">
				    	No Gallery Found. 
				    </div>
				<%}	%>
			</div>
			<div class="ui bottom attached tab segment locality" data-tab="second">
				<div class="ui">
					<div class="">
					    <div class="title _csn _txt_cntr" data-tab-item="air">
					     	Airports
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="train">
							Train
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="bus">
					    	Bus
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="bank">
					    	Banks
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="store">
							Store
					    </div>
					    <div class="title _csn _txt_cntr" data-tab-item="food">
					    	Resturants
					    </div>
					</div>
				    <div class="active content _lclt_tb_cnt" data-tab-item="air">
				    	<div id="map-canvas" name="mapdiv" style="width: 100%;height: 500px;"> </div>
						<!-- <p>Indira Gandhi International Airport T-318 min 12.9 km </p>
						<p>Indira Gandhi International Airport T-318 min 12.9 km </p> -->
				    </div>
				  </div>
			</div>
			<div class="ui bottom attached tab segment floorPlan _txt_cntr" data-tab="third">
				<% if(result.floorPlan!=null){
					 for(var fp=0 ;fp<result.floorPlan.length;fp++){		  %>											
						<img class="ui medium image _csn" src="<%=result.floorPlan[fp]%>">
					<%}
				}
				if(result.floorPlan==null || result.floorPlan.length==0) {
				%>
					<div style="padding: 1.5rem; color: rgb(123, 123, 123); border-left-width: 2px; border-left-style: solid; border-left-color: rgb(0, 159, 218); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px; background: rgb(255, 255, 255);">
				    	No floor plan found. 
				    </div>
				<%}
				%>
			</div>
		</div>

		<% if(locals.req.device.type != 'desktop'){ %>
		
			<div class="sixteen wide column">

		<% } %>

		<% if(locals.req.device.type == 'desktop'){ %>
		
			<div class="seven wide column">
				
		<% } %>
		<% if(locals.req.device.type == 'desktop'){ %>
			<div class="ui top attached tabular menu" style="margin: 0 -.05rem;border-bottom:0;">
			  <div class="active item pref_agents_btn" id="pref_agents_btn">AGENTS</div>
			</div>
			<div id="pref_agents" class="ui bottomm active attached tab segment">
			 <div data-bind="visible:agents().length==0" style=" background:#fff;padding: 1.5rem;color: #7b7b7b;
             border-left: 2px solid #009fda;box-shadow:0 0 2px rgba(0,0,0,0.2);">
		    	No preferred agent found for this project. 
		    </div>
		     <!-- ko if:agents().length!=0 -->
			<div class="ui divided items" data-bind="foreach : agents">
			  <div class="item">
			    <!-- ko if:imageUrl!=null -->
			    	<div class="ui image tiny _pImage_">
			    		<img src="" data-bind="attr: { src: imageUrl}">
			   	  	</div>
			    <!-- /ko -->
			    <!-- ko if:(imageUrl==null || imageUrl=='') -->
			    	<div class="ui image tiny _pImage_">
			    		<img src="/images/elliot.png">
			   	  	</div>
			    <!-- /ko -->
			    <div class="content">
			      <a data-bind="attr: { href: '/'+irxId},text : name" class="header">Elliot Fu</a>
			      <div class="meta">
			        <div class="price" data-bind="text : companyName" style="padding:.5rem 0;">IRX,India</div>
			        <div class="cinema"><i class="map marker icon"></i><!--ko text: location.city--><!--/ko--></div>
			      </div>
			      <div class="description">
			        Projects : 
			        <span data-bind="foreach : projects" style="margin-right:0;">
			          <!-- ko if:$index()<=1 -->
			            <span class="header" data-bind="text : $data"></span>
			             <!-- ko if:$index()==0 -->
			              <span class="header">,</span>
			             <!-- /ko -->
			          <!-- /ko -->
			        </span>
			        <span data-bind="if:projects.length>2">
			        (+
			          <span class="header" data-bind="text : projects.length-2"></span>)
			        </span>
			       </div>
			       <div class="description">
			          Operating Localities : 
			          <span data-bind="foreach : locationProjects" style="margin-right:0;">
			            <!-- ko if:$index()<=1 -->
			              <span class="header" data-bind="text : $data"></span>
			               <!-- ko if:$index()==0 -->
			                <span class="header">,</span>
			               <!-- /ko -->
			            <!-- /ko -->
			        </span>
			        <span data-bind="if:locationProjects.length>2">
			        (+
			          <span class="header" data-bind="text : locationProjects.length-2"></span>)
			        </span>
			      </div>
			      <div class="extra">
			        <div class="ui right floated label _subReqP_" data-bind="click:function(){$parent.addAgent(name,irxId,companyName,imageUrl)}">Enquire</div>
			       
			      </div>
			    </div>
			  </div>
			</div>
			<div class="ui centered aligned grid" style="padding: 2rem 0;">
					<div class="ui button" style="background:#fff;border: 1px solid #ddd"><a href="/agent-listing?projectId=<%= result.id %>&name=<%= result.name %>"> View all agents</a></div>
				</div>
			<!-- /ko -->
				
			</div>
		<% } %>
			<!-- <img class="ui medium rounded image" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= result.location.name %>+<%= result.location.city %>+<%= result.location.state%>+India&zoom=15&size=500x400&maptype=roadmap"> -->
		</div>
	</div>
  <!-- Proj detailing ends here -->
</div>
<script type="text/javascript">
	var map;
	var infowindow;
	var pyrmont;
	var geocoder= new google.maps.Geocoder();
	var outdivtext;
	var pl_name;

	function locationDecoder(){
		geocoder.geocode( { 'address': $("#location").text()}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK && results!=null) {
		      	pyrmont =results[0].geometry.location;
     			map.setCenter(pyrmont);
		      	var marker = new google.maps.Marker({
					map: map,
					position: pyrmont
		      	});
			 //  	var request = {
				// 	location: pyrmont,
				// 	radius: 1000,
				// 	types: ['atm','store','bank','food','airport','bus_station','train_station']
				// };
				// infowindow = new google.maps.InfoWindow({maxWidth: 200});
				// var service = new google.maps.places.PlacesService(map);
				// service.nearbySearch(request, callback);
		    } 
	  	});
	}
	function getpl(that_id)	{
		map = new google.maps.Map(document.getElementById('map-canvas'), {
			center: pyrmont,
			zoom: 15
		});

		var request = {
			location: pyrmont,
			radius: 500,
			types:[that_id]
		};
		infowindow =new google.maps.InfoWindow();
		var service = new google.maps.places.PlacesService(map);
		service.nearbySearch(request, callback);
	}

	function initialize() {

		map = new google.maps.Map(document.getElementById('map-canvas'), {
			center: pyrmont,
			zoom: 13
		});
		locationDecoder();
	}

	function callback(results, status) {
	  	if (status == google.maps.places.PlacesServiceStatus.OK) {
		    for (var i = 0; i < results.length; i++) {
		      createMarker(results[i]);
		    }
	   }
	}

	function createMarker(place) {
		var placeLoc = place.geometry.location;
		var marker = new google.maps.Marker({
		map: map,
			position: place.geometry.location,
		});

	  	google.maps.event.addListener(marker, 'click', function() {
		    infowindow.setContent("Place Name : "+place.name +"<br>"+"Place Co-ordinates :"+place.geometry.location+"<br>"+"Place Ratings : "+place.rating+"<br>"+"PLace Vicinity :"+place.Vicinity+"<br>Place type : "+place.types);  
		    infowindow.open(map, this);
	  	});
	}

	initialize();

	function Project(option){
		page={
			start:0,
			pageSize:5
		}
		this.agentIds = [];
	}
	
	Project.prototype.init = function() {

	    var _classInstance = this;
	    // _classInstance.aPostReqViewModel = common.getViewModel('postAgent');
	    // ko.applyBindings(_classInstance.aPostReqViewModel,document.getElementById("_postA_"));
	    var projectId = $('#_projectId_').val();
	    _classInstance.viewModel = {
	      agents: ko.observableArray(),
	      requestDetails : function(id){
				_classInstance.requestDetails(id);
			},
			enquireNow : function(id){

				_classInstance.enquireNow(id);
			},
			fbIntegration:function(id){
				return '<div class="fb-like" data-href="<%=locals.hosturl%>/'+id+'" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>';
			},
			addAgent:function(name,id,companyName,imageUrl){
					 
				$('#leads').modal({
		     	 closable:false
		   		 }).modal('show');
				$('._showAgent_').show();
      	 		$("#_projectIdP_").val(projectId);
      	 		$("#_agentIdP_").val(id);
      	 		$('.agentName').text(name);
      	 		$('.companyName').text(companyName);
      	 		if(!imageUrl || imageUrl== null || imageUrl==""){
      	 			imageUrl="/images/elliot.jpg"
      	 		}
		        $('._pImageLead_').css("background-image",'url('+imageUrl+')')
		    }
			
	    }
	
	    _classInstance.listPreferredAgents(projectId);

	  	ko.applyBindings(_classInstance.viewModel,document.getElementsByClassName('projDet')[0]);

	  	$(".locality .title").click(function(){
	  		var _self=$(this);
	  		$(".locality .title").removeClass('active');
 	 		_self.addClass("active");
 	 		getpl(_self.attr('data-tab-item'))
	  	});
	}
	
	Project.prototype.listPreferredAgents = function(projectId) {
		
		var classInstance = this;
    	httpUtils.get("/prefered-agents/"+projectId,{page:classInstance.page},"JSON",function(data){
	       	if(data.status==0){
	        	ko.utils.arrayPushAll(classInstance.viewModel.agents,data.result)
	        	if(data.page!=null)
	        		classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
	       	} 
    	})
	}

	Project.prototype.requestDetails = function(projectId) {
		httpUtils.get('/request-details/'+projectId,{},"JSON",function(data){
       		if(data.status==0){
	       		$('#req-details').modal({
	      			closable:false
	    		}).modal('show');
         	}
        });
      };

      Project.prototype.enquireNow = function(projectId) {
      	$('._showAgent_').hide();
      	 $("#_agentIdP_").val("");
      	 $("#_projectIdP_").val(projectId);
      	 $('#leads').modal({
		      closable:false
		    }).modal('show');
      	 //alert(1)
      	 
      };

      Project.prototype.getPriceText = function(amount) {
		
	    var text = "";
	    if(amount.length==4 || amount.length==5){
	        amount = Number(amount)/1000;
	        text = amount+"K";
	      } else if(amount.length==6 || amount.length==7){
	        amount = Number(amount)/100000;
	        text = amount+"Lac";
	      } else if(amount.length>8){
	        amount = Number(amount)/10000000;
	        text = amount+"Cr";
	      } else {
	        text = amount
	      }
	      return text;
	  };
	$(document).ready(function(){
		var proj = new Project();
		proj.init();
		
	})

</script>
  <% include ../partials/footer.html.ejs %>
</body>