<!-- Leads-Capture popup -->
<div id="leads" class="ui modal pop-up sell-post">  
<form id="_leadForm_" class="ui form" action="javascript: common.captureLeadsProject('_leadForm_')">
  <div class="content">
    <div class="ui grid">
      <h2 class="ui header eight wide column">Leads Capturing</h2>
      <i class="column right floated remove circle close icon"></i>
    </div>
  </div>
  <div id="lower-content" class="actions ui grid">
    
    <!-- Leads capture starts here -->

        <div class="ui inverted menu contact">
        <span class="_showAgent_" style="display:none;">
           
               <div class="ui image tiny _pImage_ _pImageLead_" style="padding:0 .5em 0 0 !important;height: 65px;background-size: 100%;background-repeat: no-repeat;margin-right:5px;background-position:center" >
             </div>
      
        
              <h4 class="_csn" style="  font-size: 1.5rem;font-weight: normal;color: rgb(76, 76, 76);">
              <span class="agentName"></span> <span class="companyName"></span>
              </h4>
        </span>
          <input name="proName" value="<%= result.name %>" type="hidden">
          <h4 class="ui dividing header">Property Information :</h4>
            <div class="item field _mxn" style="margin:0;padding-top:0;">
              <div class="ui selection dropdown">
                <input type="hidden" name="propertyType" data-bind="value:data.propertyType">
                <div class="default text" style="min-width:11rem;margin-right:0 !important;">Property Type</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <% for(var i=0;i<result.type.length;i++){ %>
                    <div class="item" style="text-transform:capitalize" data-value="<%=result.type[i] %>"><%= result.type[i] %></div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="item field _mxn" style="margin:0;padding-top:0;">
              <div class="ui selection dropdown">
                <input type="hidden" name="bhk" data-bind="value:data.propertyType">
                <div class="default text" style="min-width:11rem;margin-right:0 !important;">BHK</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <% for(var i=0;i<result.bhk.length;i++){ %>
                    <div class="item" style="text-transform:capitalize" data-value="<%=result.bhk[i] %>"><%= result.bhk[i] %> BHK</div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="item field _mxn" style="margin:0;padding-top:0;">
              <div class="ui selection dropdown">
                <input type="hidden" name="action" data-bind="value:data.action">
                <div class="default text" style="min-width:11rem;margin-right:0 !important;">Action</div>
                <i class="angle down icon"></i>
                <div class="menu">
                  <div class="item" data-value="rent">Rent</div>
                  <div class="item" data-value="buy">Buy</div>
                </div>
              </div>
            </div>
          <h4 class="ui dividing header">Contact Information :</h4>
          <% if(!locals.session.user) {%>
            <div class="ui form">
                <h5 for="user">you are a:</h5>
                <div class="_csn field" style="margin-left:15px;">
                  <div>
                    <input type="radio" name="type" value="user" >
                    <label for="user">Individual</label>
                  </div>
              </div>
              <div class="_csn field" style="margin-left:15px;">
                  <div>
                    <input type="radio" name="type" value="agent" >
                    <label for="agent">Dealer</label>
                  </div>
              </div>
            </div>    
          <% } %>  
          <% if(locals.session.user) {%>
           <div class="ui form">
                <h5 for="user">you are a:</h5>
                <div class="_csn field" style="margin-left:15px;">
                  <div>
                    <input type="radio" name="type" value="<%= locals.session.user.type %>" checked>
                    <label for="user"><%= locals.session.user.type=="agent"?'dealer':'agent' %></label>
                  </div>
              </div>
            </div>
          <% } %>
          <% if(locals.session.user) {%>
          <div class="item field">
          
            <input name="name" placeholder="Name" value="<%= locals.session.user.name %>" type="text">
          </div>
          
          <div class="item field"  style='margin-left:15px;'>
          
            <input name="emailId" placeholder="Email.." value="<%= locals.session.user.userId %>" type="text">
          </div>            
          
          <div class="item field">
          
            <input name="mobileNo" placeholder="Mobile Number.." value="" type="text">
          </div>
          <div class="item field" style="display:none" id="_msg">OK</div>
          <% }%>
          
          <% if(!locals.session.user){%>
             <div class="item field">
          
            <input name="name" value="" placeholder="Name" type="text">
          </div>
          
          <div class="item field"  style='margin-left:15px;'>
          
            <input name="emailId" value="" placeholder="Email.." type="text">
          </div>            
          
          <div class="item field">
          
            <input name="mobileNo" value="" placeholder="Mobile Number.." type="text">
          </div>
           <% }%>
        <div class="item field" style="display:none" id="_msg">OK</div>
        </div>
        
         <input name="projectId" id="_projectIdP_" type="hidden" value="" placeholder="Mobile">
          <input name="agentId" id="_agentIdP_" type="hidden" value="" placeholder="Mobile">
         
        <div class="three column row">
          <div class="right floated column">
          <input type="submit" style="height:0;width:0;display:none;outline:0" id="_clickable_">
            <div class="ui submitAction"  onClick="common.validateLead(this)">Submit</div>
          </div>
          <% if(!locals.session.user){%>
            <div class="left floated column">
              <div class="ui checkbox _createLoginP_">
                <input type="checkbox">
                <label>Also create a login</label>
              </div>
            </div>
          <% }%>  
        </div>

    <!-- Ends here -->  
  </div>
  </form>
</div>

