<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html.ejs %>
  <script type="text/javascript" src="/js/library/knockout-3.2.0.js"></script>
  <script type="text/javascript" src="/js/library/knockout.mapping-latest.js"></script>
  <script type="text/javascript" src="/js/common/http.js"></script>
  <style type="text/css">
   
  </style>
</head>
<body>  
  <% include ../partials/header.html.ejs %>
  <% include ../partials/sidebar.html.ejs %>
  <% include ../partials/login.html.ejs %>

  <!-- content goes here -->
  
  <div id="content" class="ui centered page grid">
  <input type="hidden" id="__userId" value="<%= userId %>">
    <div class="fourteen wide column">

      <div class="ui two column center aligned stackable divided grid">
    <!-- Left panel starts here -->

      <div class="four wide column">
        <div class="column li-box">

          <div class="lib-pic"><img class="ui circular image" src="/img/pic.png"></div>
          <div class="item"><div class="header"><%= result.name %></div><%= result.companyName %></div>
          <img class="" src="/img/fb.png">

          <div class="lib-actions">
            <div class="ui basic button reqdet" style="color:#fff !important;">Request details</div><br/>
            <div class="ui basic button">Enquiry now</div>
          </div>

          <div class="lib-count">
            <div class="item left floated"><div class="header">10</div>Projects</div><div class="item right floated"><div class="header">10</div>Locations</div>
          </div>

          <div class="lib-specs">
            <div class="header">Specialities :</div>
             <% if(result.specialities) {%>
            <div class="libs-items">
              <% for(var i=0; i<result.specialities.length; i++) {%>
               
                
                <div class="item"><i class="top aligned right triangle icon" style="color:#9A9A9A"></i><%= result.specialities[i] %>
              </div>
            <% } %>
             
            </div>
            <% } %>
          </div>

          <div class="ui divided list lib-xtras">
            <% if(result.location) {%>
            <div class="item"><i class="map marker icon"></i><%= result.location.city%>,<%= result.location.state%></div>
             <% } %>
            <div class="item"><i class="linkify icon"></i>irx.com/karan</div>
            <div class="item"><i class="mail outline icon"></i><%= result.userId%></div>
            <div class="item"><i class="call icon"></i><%= result.phoneNum%></div>
            <!--<a class="lib-url">Get a personalized URL?</a>-->
          </div>

        </div>
      </div>
      <!-- Left panel ends here -->

      <!-- Right panel starts here -->

      <div class="twelve wide column">

        <!-- Project listing here -->
        <div class="column ri-box" data-bind="visible: (shouldShow()=='' || shouldShow()=='project')">
          <div class="ui grid two column rib-head">
            <h2 class="ui header column">projects</h2>
            <div class="header column right menu"  data-bind="click: showAllProjects,visible:  showButton()=='view' "><a>view all <i class="caret down icon"></a></i>
            </div>
            <div class="header column right menu" data-bind="click: hideAllProjects,visible: showButton()=='hide' "><a>hide <i class="caret up icon"></a></i>
            </div>
          </div>
          <div class="rib-items ui three column grid stackable pro-ject"  data-bind="foreach: projects">
            <div class="column item">
                <img src="/img/proj.png">
                <div class="meta">
                  <h4 class="header projectName" data-bind="text: name">THE PRESIDENTIAL TOWER</h4>
                  <p class="cinema projectDetail" data-bind="text: builderName">Mantri Developers</p>
                  <p class="cinema projectDetail" data-bind="text: location.city">DLF,Gurgaon,Haryana</p>
                </div>
            </div>
            
          </div>
        </div>

        <!-- Locations listing here -->
        <div class="column ri-box loca-tion" data-bind="visible: (shouldShow()=='' || shouldShow()=='location')">
          <div class="ui grid two column rib-head">
            <h2 class="ui header column">working locations</h2>
            <div class="header column right menu"  data-bind="click: showAllLocations,visible:  showLocButton()=='view' "><a>view all <i class="caret down icon"></a></i>
            </div>
            <div class="header column right menu" data-bind="click: hideAllLocations,visible: showLocButton()=='hide' "><a>hide <i class="caret up icon"></a></i>
            </div>
          </div>
          <div class="rib-items ui three column grid pro-ject"  data-bind="foreach: locations">
            <div class="ui divided items column">
              <div class="meta loc-item">
                <h4 class="header projectName" data-bind="text: name">mgf city center</h4>
                <p class="cinema projectDetail" data-bind="text: location.city">Gurgaon,Haryana</p>
                <span class="header"><i class="user icon"></i>24</span>
                <span class="header"><i class="file image outline icon"></i>24</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Reviews section here -->
        <div class="column ri-box revi-ew" data-bind="visible: (shouldShow()=='' || shouldShow()=='review')">
          <div class="ui grid two column rib-head">
            <h2 class="ui header column">Reviews</h2>
            <div class="column right menu"><div class="ui button"><i class="icon user"></i>Invite</div></div>
          </div>
          <div class="rib-items ui grid">

            <div class="ui relaxed list ten wide column review-item">
              <div class="item">
                <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/daniel.jpg">
                <div class="content">
                  <a class="header">Daniel Louise</a>
                  <div class="description">Nov 20,2014</div>
                </div>
              </div>
              <div class="ui segment">
                <div class="ui grid two column rib-head">
                  <h3 class="ui header column">Review title</h3>
                  <div class="column right menu"><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i><i class="empty star icon"></i></div>
                </div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              </div>
            </div>

            <div class="column"></div>

          </div>
        </div>
        </div>
      </div>
      </div>    
  </div>

  <script type="text/javascript">
  function PublicProfile(options){
    this.url = null;
    this.viewModel = null;
    this.showProjects='project';
    this.showLocations='location';
    this.showReviews='review';
    this.projectsOnPage = 3;
    this.locationsOnPage = 3;
    this.page = {pageSize:3,start:0};
    this.locPage = {pageSize:3,start:0};
    this.userId = options.userId;
  } 

  PublicProfile.prototype.init = function() {
    var _classInstance = this;
    _classInstance.viewModel = {
      projects: ko.observableArray(),
      locations : ko.observableArray(),
      shouldShow : ko.observable(''),
      showButton : ko.observable('view'),
      showLocButton : ko.observable('view'),
      showAllProjects : function() {

          _classInstance.listProjects();
          this.shouldShow(_classInstance.showProjects);
      },
      hideAllProjects : function() {
          this.showButton('view');
          this.shouldShow('');
          _classInstance.resetPage();
          this.projects(this.projects().slice(0,3));
          
      },
      showAllLocations : function() {

          _classInstance.listUserLocations();
          this.shouldShow(_classInstance.showLocations);
      },
      hideAllLocations : function() {
          this.showLocButton('view');
          this.shouldShow('');
          _classInstance.resetLocPage();
          this.locations(this.locations().slice(0,3));
          
      }
  }
   ko.applyBindings(_classInstance.viewModel,document.getElementById('content'));
   _classInstance.listProjects();
   _classInstance.listUserLocations();
  };
  PublicProfile.prototype.resetPage = function() {
    this.page.start = this.projectsOnPage;
  }
  PublicProfile.prototype.resetLocPage = function() {
    this.locPage.start = this.locationsOnPage;
  }

  PublicProfile.prototype.listProjects = function() {
    
    var classInstance = this;
    httpUtils.get("/list-user-projects/"+classInstance.userId,{page:classInstance.page},"JSON",function(data){
       if(data.status==0){
        ko.utils.arrayPushAll(classInstance.viewModel.projects,data.result)
        classInstance.page.start = Number(data.page.start)+Number(data.page.pageSize);
        if (data.page.hasMore==true) {
          classInstance.viewModel.showButton('view');
        }else{

          classInstance.viewModel.showButton('hide');
        }
       } 
    })
  }

   PublicProfile.prototype.listUserLocations = function() {
    var classInstance = this;
    httpUtils.get("/list-user-locations/"+classInstance.userId,{page:classInstance.locPage},"JSON",function(data){
       if(data.status==0){
        ko.utils.arrayPushAll(classInstance.viewModel.locations,data.result)
         classInstance.locPage.start = Number(data.page.start)+Number(data.page.pageSize);
        if (data.page.hasMore==true) {
          classInstance.viewModel.showLocButton('view');
        }else{

          classInstance.viewModel.showLocButton('hide');
        }
       } 
    })
  }
  $(document).ready(function(){
    var userId=$('#__userId').val();
    var publicProfile = new PublicProfile({"userId":userId})
    publicProfile.init();
  })
 </script>
</body>
